{% extends "float/project_base.html" %}
{% block page_title %}: {{ project.name }}{% endblock page_title %}
{% block main %}
    <article class="project">
        <header><h1>{{ project.name }}</h1></header>
        {% if project.projectimage_set.all %}
        <section class="slideshow">
            {% for image in project.projectimage_set.all %}
                <article class="images">
                    <img src="{{ image.detail.url }}"
                         height="{{ image.detail.height }}"
                         width="{{ image.detail.width }}"
                         alt="{{ image.caption }}"/>
                     {% if image.caption %}<p>{{ image.caption }}</p>{% endif %}
                </article>
            {% endfor %}
        </section>
        {% endif %}
        <section class="description">
            <p>{{ project.description_html|safe }}</p>
            {% if external_url %}<p>{{ project.external_url }}</p>{% endif %}
        </section>
        {% if project.date_start or project.date_end %}
        <section class="dates">
            <h2>Date</h2>
            {% if project.date_start %}<p>{{ project.date_start|date:"F Y" }}</p>{% endif %}
            {% if project.date_end %}<p>{{ project.date_end|date:"F Y" }}</p>{% endif %}
       {% endif %}
        </section>
        <section class="size">
            <h2>Area</h2>
            <p>{{ project.area|floatformat }} {{ project.get_unit_display }} </p>
        </section>
        <section class="address">
            <h2>Location</h2>
            {% load easy_maps_tags %}
            {% easy_map project.address 180 180 %}
        </section>
    
         {% if project.tags.all or project.categories.all %}
        <section class="classification">
            {% if project.tags.all %}
            <h2>Tags</h2>
            <ul>
                {% for tag in project.tags.all %}
                <li> {{ tag.name }} </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if project.categories.all %}
            <h2>Categories</h2>
            <ul>
                {% for category in project.categories.all %}
                <li> {{ category.name }} </li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>
        {% endif %}

        {% if project.clients.all or project.collaborators.all or project.designers.all  %}
        <section class="people">
            {% if project.clients.all %}
            <h2>Clients</h2>
            <ul>
                {% for client in project.clients.all %}
                <li> {{ client.name }} </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if project.collaborators.all %}
            <h2>Collaborators</h2>
            <ul>
                {% for collaborator in project.collaborators.all %}
                <li> {{ collaborator.name }} </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if project.designers.all %}
            <h2>Designers</h2>
            <ul>
                {% for designer in project.designers.all %}
                <li> {{ designer.name }} </li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>
        {% endif %}
    </article>
    
{% endblock main %}