{% extends "subnav_base.html" %}

{% load i18n %}

{% block body_class %}account{% endblock %}

{% block subnav %}
    <ul class="nav nav-list">
        <li class="nav-header">{% trans "Account" %}</li>
        <li><a href="{% url "account_settings" %}">{% trans "Settings" %}</a></li>
        <li><a href="{% url "account_social_connections" %}">{% trans "Connections" %}</a></li>
        <li><a href="{% url "account_delete" %}">{% trans "Delete account" %}</a></li>
        <li class="nav-header">{% trans "Friends" %}</li>
        <li><a href="{% url "friends_friends" %}">{% trans "Friends" %}</a></li>
        <li>
            <a href="{% url "friends_suggestions" %}">{% trans "Suggestions" %}</a>
            {% if new_suggestion_count > 0 %}
                <span class="badge badge-important">{{ new_suggestion_count }}</span>
            {% endif %}
        </li>
    </ul>
{% endblock %}