{% extends "account/base.html" %}

{% load i18n %}
{% load floppyforms %}

{% block head_title %}Account Connections{% endblock %}

{% block settings_class %}{% endblock %}
{% block social_class %}class="active"{% endblock %}

{% block account_content %}
    <legend>{% trans "Social Connections" %}</legend>
    
    <p>
        Connect and disconnect your social accounts.
    </p>
    
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-3">
            
            <h3><i class="icon icon-twitter"></i> Twitter</h3>
            
            <p>
                {% if social_auth.twitter %}
                <span class="disconnect">
                <form action="{% url "socialauth_disconnect" "twitter" %}" method="post">
                   {% csrf_token %}
                   <button type="submit" class="btn btn-default">Disconnect Twitter</button>
                </form>
                </span>
                {% else %}
                    <a class="btn btn-primary" 
                    href="{% url "socialauth_begin" "twitter" %}?next={% url "account_social_connections" %}">Connect Twitter</a>
                {% endif %}
            </p>
        </div>
        
        <div class="col-lg-3">
            <h3><i class="icon icon-facebook"></i> facebook</h3>
            
            <p>
                {% if social_auth.facebook %}
                <span class="disconnect">
                    <form action="{% url "socialauth_disconnect" "facebook" %}" method="post">
                         {% csrf_token %}
                         <button type="submit" class="btn btn-default">Disconnect Facebook</button>
                    </form>
                </span>
                {% else %}
                    <a class="btn btn-primary" 
                    href="{% url "socialauth_begin" "facebook" %}?next={% url "account_social_connections" %}">
                    Connect Facebook</a>
                {% endif %}
            </p>
        </div>
    </div>
{% endblock account_content %}
