{% extends "account/base.html" %}

{% load i18n %}
{% load floppyforms %}

{% block head_title %}Delete Account{% endblock %}

{% block settings_class %}{% endblock %}
{% block delete_class %}class="active"{% endblock %}

{% block account_content %}
    <legend>Delete Account</legend>
    
    <p>If you go ahead and delete your account, your information will be <b>expunged within {{ ACCOUNT_DELETION_EXPUNGE_HOURS }} hours</b>.</p>
    
    <form method="post" action="{% url "account_delete" %}" autocapitalize="off">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete My Account</button>
    </form>
    
{% endblock %}
