{% extends "account/base.html" %}

{% load i18n %}
{% load floppyforms %}


{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block settings_class %}{% endblock %}
{% block password_class %}class="active"{% endblock %}

{% block account_content %}
    <form method="POST" action="">
        <legend>{% trans "Change password" %}</legend>
        <fieldset>
            {% csrf_token %}
            {% form form using "floppyforms/layouts/bootstrap.html" %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}