{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block body %}
    <form method="POST" action="{% url account_password_reset_token uidb36=uidb36 token=token %}">
        <legend>{% trans "Set password" %}</legend>
        <fieldset>
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <div class="form-actions">
                 <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}