{% extends "account/account_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block page_title %}{% trans "Set Password" %}{% endblock page_title %}

{% block main %}
    <h2>{% trans "Set Password" %}</h2>
    
    <form method="POST" action="">
        {% csrf_token %}
        <fieldset>
            {{ password_set_form|as_bootstrap }}
        </fieldset>
        <div class="actions">
            <button type="submit" class="btn primary">{% trans "set password" %}"</button>
        </div>
    </form>
{% endblock main %}