{% extends "account/base.html" %}
{% block head_title %}Social Accounts{% endblock %}
{% block body %}
    <legend>Social Accounts</legend>
    <h3>Facebook</h3>
    {% if social_auth.facebook %}
        <p>Connected!
            <a href="{% url socialauth_disconnect_individual "facebook" social_auth.facebook.id %}">Disconnect</a>
        </p>
    {% else %}
        <p><a href="{% url socialauth_begin "facebook" %}">Connect</a>
    {% endif %}
    <h3>Twitter</h3>
    {% if social_auth.twitter %}
        <p>Connected!
            <a href="{% url socialauth_disconnect_individual "twitter" social_auth.twitter.id %}">Disconnect</a>
        </p>
    {% else %}
        <p><a href="{% url socialauth_begin "twitter" %}">Connect</a>
    {% endif %}
{% endblock body %}