{% extends "section_base.html" %}
{% block head_title_section %}: People{% endblock head_title_section %}
{% block body_class %}profile{% endblock %}

{% block section_nav %}
    {% if user.is_authenticated %}
         <ul>
            <li><a href="{% url "profiles_profile_detail" user.username %}">
                Your Profile</a></li>
            <li><a href="{% url "profiles_profile_list" %}">All Agents</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock section_nav %}
