{% extends "profiles/base.html" %}

{% load i18n %}

{% block head_title %}
Profile for {{ profile.user.username }}
{% endblock head_title %}

{% block body %}
    <aside class="col-lg-3 col-12">
        {% if profile.photo %}
        <img src={{ profile.photo.url }} />
        {% endif %}
        <h3>{% if profile.user.first_name and profile.user.last_name %}
                {{ profile.user.first_name }} {{ profile.user.last_name }}
            {% else %}
                {{ profile.user.username }}
            {% endif %}
        </h3>
        <ul>
            <li><a href="http://www.twitter.com/{{ profile.twitter }}">{{ profile.twitter }}</a></li>
            <li>{{ profile.website|urlize }}</li>
        </ul>
        {% if request.user == profile.user %}
        <a class="btn btn-primary" href="{% url 'profiles_profile_update' %}">{% trans 'Edit Profile' %}</a>
        {% endif %}
    </aside>
    <section class="col-lg-9 col-12">
        {% if profile.about %}
        <h5>About</h5>
        <p class="lead">{{ profile.user.first_name }} wants {{ profile.about }}</p>
        {% endif %}
        <div class="panel activity">
            <header class="panel-heading">
              <h5>Activity</h5>
            </header>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="media">
                        <a class="pull-left profile-img" href="#">
                            <img class="media-object" src="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"></h4>
                            <h6>Posted <a href="#">Lot</a> • <a href="#">Like</a></h6>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section> 
    
{% endblock %}
