{% extends "profiles/base.html" %}

{% load i18n %}
{% load account_tags %}
{% load url from future %}
{% load phileo_tags %}

{% block head_title %}
{% user_display profile_user as profile_user_display %}
Profile for {{ page_user_display }} 
{% endblock %}

{% block body %}
    {% user_display profile_user as profile_user_display %}
    <header class="jumbotron subhead" id="overview">
        <h1>{% if profile.user.first_name and profile.user.last_name %}
                {{ profile.user.first_name }} {{ profile.user.last_name }}
            {% else %}
                {{ profile.user.username }}
            {% endif %}
        </h1>
    </header>
    
    {% if profile.about %}
        <p>{{ profile.about }}</p>
    {% endif %}    
    
    {% if request.user.is_authenticated %}
        {% if is_current %}
            <p><a href="{% url "profiles_profile_update" %}" class="btn">
               Update my profile</a></p>
        {% else %}
            {% phileo_widget request.user profile %}
        {% endif %}
    {% endif %}
{% endblock %}
