{% extends "profiles/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load floppyforms %}
{% load thumbnail %}

{% load possiblecity_tags %}

{% block head_title %}
Profile for {{ profile.user.username }}
{% endblock head_title %}

{% block body %}
{% if form.is_multipart %}
    <form method="POST" enctype="multipart/form-data" action="{% url 'profiles_profile_update' %}">
{% else %}
    <form method="POST" action="{% url 'profiles_profile_update' %}">
{% endif %}
{% csrf_token %}
{% form form using %}
<header class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-12 margin-bottom-20">
                    <h1>Edit Your Profile</h1>
                </div>
            </div>
        </div>
</header>
<div class="container profile">
    <div class="row">
        <div class="col-lg-3 col-12">
            <div class="panel">
                <div class="row margin-bottom-20">
                    <div class="col-6 col-lg-12">
                        <div class="profile-pic">
                            <img class="profile-pic"
                            {% if profile.photo %}
                            src="{% thumbnail profile.photo '400x400' crop %}"
                            {% else %}
                            src="{% static 'img/profile.png' %}"
                            {% endif %}
                            />
                        </div>
                        <div class="col-6 col-lg-12">
                            <div>
                                <label for="id_photo">Edit Profile Photo:</label>
                                    {% formfield form.photo %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="col-lg-9 col-12">
            <div class="panel"> 
                <div class="form-group">
                    {% formrow form.about using "floppyforms/rows/about.html" %}
                    <p class="pull-right" style="font-style:normal; font-weight:bold; color:#999"><span id="chars">140 characters max</span> characters left</p>
                </div>
                <br />
                <div style="color: #999">
                Recently posted:
                    {% get_latest profiles.Profile 5 as latest_profiles %}
                    <ul>
                    {% for profile in latest_profiles %}
                    {% if profile.about %}
                        <li>
                        {% if profile.user.first_name %}{{ profile.user.first_name }}{% else %}{{ profile.user }}{% endif %} wants to
                        {{ profile.about }}</li>
                    {% endif %}
                    {% endfor %}  
                    </ul>
                 </div>
                    <hr>
                    <div class="margin-bottom-20">
                    {% formrow form.first_name using "floppyforms/rows/bootstrap.html" %}
                    {% formrow form.last_name using "floppyforms/rows/bootstrap.html" %}
                    {% formrow form.phone using "floppyforms/rows/bootstrap.html" %}
                    {% formrow form.website using "floppyforms/rows/bootstrap.html" %}
                    {% formrow form.twitter using "floppyforms/rows/bootstrap.html" %}
                    {% formrow form.is_public using "floppyforms/rows/bootstrap.html" %}
                    </div>
                    <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans "Update your profile" %}</button>
                    <a href="{{ profile.get_absolute_url}}" class="btn btn-default">Cancel</a>
                </div>
                </div>
             </div>
        </section> 
 {% endform %}
</form>
   
{% endblock %}
{% block extra_body %}
<script type="text/javascript" src="{% static 'js/vendor/bootstrap-filestyle.min.js' %}"> </script>
<script>
(function($) {
    $.fn.extend( {
       limiter: function(limit, elem) {
            $(this).on("keyup focus", function() {
                setCount(this, elem);
            });

            function setCount(src, elem) {
                var chars = src.value.length;
                if (chars > limit) {
                    src.value = src.value.substr(0, limit);
                    chars = limit;
                }
                elem.html( limit - chars );
            }
            setCount($(this)[0], elem);
        }
    });
})(jQuery);

var elem = $("#chars");
$("#id_about").limiter(140, elem);
</script>
{% endblock extra_body %}
