{% extends "profiles/base.html" %}

{% load pagination_tags %}

{% block head_title %}People{% endblock head_title %}

{% block body %}
    <header class="row">
        <h1>People <small>{{ profiles.count }}</small></h1>
    </header>
    <section class="row">
        <ul class="people-list" style="margin:0; padding:0;">
        {% autopaginate profiles %}
        {% for profile in profiles %}
            <li class="thumbnail col-lg-2 col-6">
                <a href="{% url 'profiles_profile_detail' profile.user.username %}">
                    <img class="profile-pic" src="{{ profile.photo.url }}" />
                </a>
                <h4>{{ profile.full_name }}</h4>
            </li>
        {% endfor %}
        </ul>
        {% paginate %}
    </section>
{% endblock body %}
