{% extends "profiles/base.html" %}

{% load staticfiles %}
{% load pagination_tags %}
{% load thumbnail %}

{% block head_title %}People{% endblock head_title %}

{% block body %}
    <header class="page-header">
        <div class="container">
            <div class="row">
                
                <div class="col-12 col-md-6 col-lg-6">
                    <h1>People <small>{{ profiles.count }}</small></h1>
                </div>

                <div class="col-12 col-md-6 col-lg-6">
                    <div class="text-right margin-top-20">
                        
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="container">
        <div class="row">
            {% autopaginate profiles %}
            {% for profile in profiles %}
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail margin-bottom-20">
                    <div class="profile-pic profile-popover"
                         data-toggle="tooltip"
                         {% if profile.about %}
                         data-content="{% if profile.user.first_name %}{{ profile.user.first_name }} 
                                       {% else %}{{ profile.user.username }}{% endif %}
                                       wants to {{ profile.about }}"
                         {% else %}
                         data-content="{% if profile.user.first_name %}
                                       {{ profile.full_name }}
                                       {% else %}
                                       {{ profile.user.username }}
                                       {% endif %} is still working on it."
                         {% endif %}
                         data-animation="true"
                         data-placement="auto top"
                         data-trigger="hover"
                         title="{% if profile.user.first_name %}
                                       {{ profile.full_name }}
                                       {% else %}
                                       {{ profile.user.username }}
                                       {% endif %}">
                        <a href="{% url 'profiles_profile_detail' profile.user.username %}">
                        {% if profile.photo %}
                            <img class="profile-pic" src="{% thumbnail profile.photo '400x400' crop upscale %}" />
                        {% else %}
                            <img class="profile-pic" src="{% static 'img/profile.png' %}" />
                        {% endif %}
                            </a>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
    </section>
{% endblock body %}
{% block extra_body %}
<script>
$('.profile-popover').popover();
</script>
{% endblock %}
