<article class="entry detail" id="{{ entry.published|date:"c" }}_{{ entry.slug }}">
    <aside class="meta">
        <p class="date">
            <time datetime={{ entry.published|date:"c" }}>
                <span class="month">{{ entry.published|date:"F" }}</span>
                <span class="day">{{ entry.published|date:"d" }}</span>
            </time>
        </p>
        <ul class="tags">
            {% for tag in entry.tags.all %}
            <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
    </aside>
    <section>
        <header>
            <h2>{{ entry.title }}</h2>
        </header>
        {% load oembed_tags blog_tags inline_tags %}
        {% oembed 480x270 %}
            {{ entry.text_html|render_inlines|safe}}
        {% endoembed %}
        <footer>
            <ul>
                <li>
                    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </li>
                <li>
                    <div class="fb-like" data-href="{{ entry.get_absolute_url }}" data-send="false" data-layout="button_count" data-show-faces="true"></div>
                </li>
            </ul>
        </footer>
    </section>
</article>