{% extends "base.html" %}
{% load blog_tags twitter_tags %}

{% block section_title %}: Blog{% endblock section_title %}
{% block body_class %}blog{% endblock body_class %}
{% block js_facebook %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=352353678125899";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock js_facebook %}
{% block content %}
    {% block content_header %}
        <header class="page-header">
            {%  block content_title %}
                <h1>Possible City Blog</h1>
            {%  endblock content_title %}
        </header>
    {% endblock content_header %}
    <section class="main">
    {% block main %}
    {% endblock main %}
    </section>
    {% block aside %}
        <aside class="archive">
            <section class="latest-entries">
                <h3>Latest Posts</h3>
                <ul>
                    {% get_latest_entries 5 as latest_entry_list %}
                    {% for latest in latest_entry_list %}
                        <li><a href="{{ latest.get_absolute_url }}">{{ latest.title }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            <section class="popular-entries">
                <h3>Popular Posts</h3>
                <ul>
                    {% get_popular_entries 5 as popular_entry_list %}
                    {% for popular in popular_entry_list %}
                        <li><a href="{{ popular.get_absolute_url }}">{{ popular.title }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            <section class="dates">
                {% get_entry_archive as dates %}
                <h3>Archive</h3>
                <ul>
                    {% for date in dates %}
                        <li><a href="{% url blog_archive_month year=date|date:"Y", month=date|date:"M" %}" title="{{ date|date:"F Y" }}">{{ date|date:"F Y" }}</a></li>
                    {% endfor %}
                </ul>
            </section>
        </aside>
        <aside class="twitter">
            {% get_friends_timeline as timeline %}
            <h3>Around Town</h3>
            {% for status in timeline %}
                <article class="tweet">
                    <section class="tweet-image">
                        <img src="{{ status.user.profile_image_url }}" />
                    </section>
                    <section class="tweet-content">
                        <a href="{{ status.user.url }}">{{ status.user.name }}</a>
                        <p>{{ status.text|parse_tweet }}</p>
                        <time datetime="{{ status.created_at }}">{{ status.relative_created_at }}</time>
                    </section>
                </article>
            {% endfor %}
            </ul>
        </aside>
    {% endblock aside %}
{% endblock content %}