{% extends "base.html" %}
{% block section_title %}: Blog{% endblock section_title %}
{% block body_class %}blog{% endblock body_class %}
{% block content %}
    <div class="main">
    {% block main %}
    {% endblock main %}
    </div>
    {% block aside %}
        {% load blog_tags archive_tags twitter_tags %}
        <aside class="archive">
            <section class="latest-posts">
                <h2>Latest Posts</h2>
                <ul>
                {% get_latest_posts 5 as latest_post_list %}
                {% for post in latest_post_list %}
                    <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                {% endfor %}
                </ul>
            </section>
            <section class="popular-posts">
                <h2>Popular Posts</h2>
                <ul>
                {% get_popular_posts 5 as popular_post_list %}
                {% for post in popular_post_list %}
                    <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                {% endfor %}
                </ul>
            </section>
            <section class="dates"></section>
            {% get_post_archive as dates %}
                <h2>Archive</h2>
                <ul>
                    {% for date in dates %}
                    <li><a href="{% url blog_archive_month year=date|date:"Y", month=date|date:"M" %}" title="{{ date|date:"F Y" }}">{{ date|date:"F Y" }}</a></li>
                    {% endfor %}
                </ul>
            </section>
        </aside>
        <aside class="twitter">
        {% get_friends_timeline as timeline %}
            <h2>Twitter Feed</h2>
                {% for status in timeline %}
                <article class="tweet">
                    <section class="tweet-image">
                        <img src="{{ status.user.profile_image_url }}" />
                    </section>
                    <section class="tweet-content">
                        <a href="{{ status.user.url }}">{{ status.user.name }}</a>
                        <span>{{ status.user.screen_name }}</span>
                        <p>{{ status.text|parse_tweet }}</p>
                        <time datetime="{{ status.created_at }}">{{ status.relative_created_at }}</time>
                    </section>
                </article>
                {% endfor %}
            </ul>
        </aside>
    {% endblock aside %}
{% endblock content %}