{% extends "blog/blog_base.html" %}
{% block page_title %}: {{ post.title }} {% endblock page_title %}
{% block body_class %}{{ block.super }} post{% endblock body_class %}
{% block main %}
{% block post %}
<article class="post detail" id="{{ post.published }}_{{ post.slug }}">
    <aside class="meta">
        <p class="date">
            <time datetime={{ post.published|date:"c" }}>
                <span class="month">{{ post.published|date:"F" }}</span>
                <span class="day">{{ post.published|date:"d" }}</span>
            </time>
        </p>
    </aside>
    <section>
        <header>
            <h2>{{ post.title }}</h2>
        </header>
        {% load oembed_tags blog_tags inline_tags %}
        {% oembed %}
            {{ post.body_html|render_inlines|safe}}
        {% endoembed %}
    </section>
</article>
{% endblock post %}
{% block comments %}{% endblock comments %}
{% block nav %}
    <nav class="post-nav">
        {% if object.get_previous_by_published %}
        <a class="previous" href="{{ post.get_previous_post.get_absolute_url }}">
        &laquo; {{ post.get_previous_post }}</a>
        {% endif %}
        {% if object.get_next_by_published %}
        | <a class="next" href="{{ post.get_next_post.get_absolute_url }}">
        {{ post.get_next_post }} &raquo;</a>
        {% endif %}
    </nav>
{% endblock nav %}
{% endblock main %}