{% extends "blog/blog_base.html" %}
{% block page_title %}: Posts {% endblock page_title %}
{% block body_class %}{{ block.super }} post-list{% endblock %}
{% block main %}
{% block post_list %}
{% for post in post_list %}
    <article class="post excerpt" id="{{ post.published|date:"Y-F-d" }}_{{ post.slug }}">
        <aside class="meta">
            {% if post.get_next_post.published|date:"Y-F-d" != post.published|date:"Y-F-d" %}
            <p class="date">
                <time datetime={{ post.published|date:"c" }}>
                    <span class="month">{{ post.published|date:"F" }}</span>
                    <span class="day">{{ post.published|date:"d" }}</span>
                </time>
            </p>
            {% else %}
            &nbsp;
            {% endif %}
        </aside>
        <section>
            <header>
                <h2 class="title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            </header>
            {{ post.excerpt_html|safe }}
        </section>
    </article>
{% endfor %}
{% endblock post_list %}
{% block pagination %}
      {% if is_paginated %}
      <nav class="pagination">
        {% if has_next %}
        <a class="older" href="?page={{ next }}">Older</a>
        {% endif %}
        {% if has_next and has_previous %} | {% endif %}
        {% if has_previous %}
        <a class="newer" href="?page={{ previous }}">Newer</a>
        {% endif %}
      </nav>
      {% endif %}
{% endblock pagination %}
{% endblock main %}
