{% extends "blog/blog_base.html" %}
{% block page_title %}: Posts {% endblock page_title %}
{% block body_class %}{{ block.super }} post-list{% endblock %}
{% block main %}
  {% block post_list %}
        <section class="post list">
        {% for post in post_list %}
            <article class="post excerpt" id="{{ post.published }}_{{ post.slug }}">
                <aside class="box quarter" style="text-align: right;">
                    <p class="date">{{ post.published|date:"Y F d" }}</p>
                    <p class="author">{{ post.author.get_full_name }}</p>
                </aside>
                <section class="box three-quarters">
                <h1 class="title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
                <p class="excerpt">{{ post.excerpt_html|safe }}</p>
                </section>
            </article>
        {% endfor %}
        </section>
  {% endblock post_list %}
  {% block pagination %}
      {% if is_paginated %}
      <nav class="pagination">
        {% if has_next %}
        <a class="older" href="?page={{ next }}">Older</a>
        {% endif %}
        {% if has_next and has_previous %} | {% endif %}
        {% if has_previous %}
        <a class="newer" href="?page={{ previous }}">Newer</a>
        {% endif %}
      </nav>
      {% endif %}
  {% endblock %}
{% endblock %}
