{% load i18n %}
{% load account_tags %}
    <ul class="nav navbar-nav pull-right">
        {% if request.user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle signed-in" data-toggle="dropdown">
                    {% if user.profile.photo %}
                    <img width="30px" src="{{ user.profile.photo.url }}" />
                    {% endif %}
                    {% if user.first_name %}
                        {{ user.profile.full_name }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'profiles_profile_detail' user.username %}">My Profile</a></li>
                    <li><a href="{% url 'profiles_profile_update' %}">Edit Profile</a></li>
                    <li class="divider"></li>
                    {% if request.user.is_staff %}
                    <li><a href="{% url THEME_ADMIN_URL|default:'admin:index' %}">{% trans "Admin" %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'account_settings' %}">Settings</a></li>
                    <li>
                        <a data-toggle="modal" data-target="#logout-modal" href="#logout">
                            {% trans "Log out" %}
                        </a>
                    </li>
                </ul>
            </li>
        {% else %}
            <li><a data-toggle="modal" data-target="#login-modal" href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
            {% if ACCOUNT_OPEN_SIGNUP %}
            <li>
                <a data-toggle="modal" data-target="#signup-modal" href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></li>
            {% endif %}
        {% endif %}
    </ul>
