{% block header %}
    <nav class="site-nav">
    {% block identity %}
        <div class="identity">
            <h1><a href="{% url home %}">Possiblecity</a></h1>
            <a class="logo" href="{% url text_entry_index %}">
                <img src="{{ STATIC_URL }}images/logo.png" />
            </a>
        </div>
    {% endblock identity %}
    {% block section-nav %}
        <ul class="section-nav">
            <li id="nav-about">
                <a href="{% url about %}">
                    <span>About</span>
                </a>
            </li>
            <li id="nav-twitter">
                <a href="https://twitter.com/PossibleCity">
                    <span>@PossibleCity</span>
                </a>
            </li>
        </ul>
     {% endblock section-nav  %}
     </nav>
{% endblock header %}
