{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load phileo_tags %}
{% load thumbnail %}

{% load possiblecity_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-12">
             {% get_latest_featured ideas.Idea 6 as featured_ideas %}
            <div id="featured-idea-slideshow" class="carousel slide">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                {% for idea in featured_ideas %}
                <li class="{% if forloop.first %}active{% endif %}" data-target="#featured-idea-slideshow" data-slide-to="{{ forloop.counter0 }}"></li>
                {% endfor %}
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                {% for idea in featured_ideas %}
                <div id="{{ forloop.counter0 }}" class="item {% if forloop.first %}active{% endif %}">
                 <a href="{% if idea.lots.all %}
                           {% with idea.lots.all|first as lot %}
                            {% url 'lotxlot_lot_detail' lot.id %}#idea-{{ idea.id }}
                           {% endwith %}
                          {% else %}
                            {{ idea.get_absolute_url }}
                          {% endif %}">
                  <img src="{% thumbnail idea.get_lead_image.file '1170x490' crop upscale quality=100  %}" alt="{{ idea.title }}">
                 </a>
                  <div class="carousel-caption hidden-xs">
                    <h3>{{ idea.title }}</h3>
                    {% if idea.lots.all %}
                    <h4>
                    {% for lot in idea.lots.all %}
                    <i class="icon-map-marker"></i> {{ lot.address }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    </h4>
                    {% endif %}
                    <p>{{ idea.tagline }}</p>
                  </div>
                </div>
                {% endfor %}
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#featured-idea-slideshow" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#featured-idea-slideshow" data-slide="next">
                <span class="icon-next"></span>
              </a>
            </div>


            <div class="homepage-intro jumbotron hidden-xs hidden-sm">
                <h1>Possible City</h1>
                <h2>Reimagining Philadelphia's vacant spaces</h2>
            </div>

        </div>
    </div>
    <!-- Latest Ideas --> 
    <div class="panel latest-ideas">
        <div class="row">
            <div class="col-lg-12 col-12">
                <h2 class="margin-bottom-20">Latest Ideas</h2>
                {% get_latest ideas.Idea 8 as latest_ideas %}
                <div class="row latest-ideas-homepage">
                {% for idea in latest_ideas %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 margin-bottom-20">
                       <a href="{% if idea.get_lead_image %}
                                {% url 'ideas_idea_detail' idea.slug %}
                                {% else %}
                                {% url 'lotxlot_lot_detail' idea.lots.all.0.id %}
                                {% endif %}
                               ">
                        <div class="idea" style="position: relative;">
                            {% if idea.get_lead_image %}
                            <img src="{% thumbnail idea.get_lead_image.file '500x500' crop upscale quality=100  %}" alt="{{ idea.title }}">
                            {% else %}
                            <img src="http://maps.googleapis.com/maps/api/streetview?size=500x500&location={{ idea.lots.all.0.coord.y }},{{ idea.lots.all.0.coord.x}}&sensor=false&fov=105">
                            {% endif %}                                
                            <div style="position: absolute;
                                            top:0;
                                            left:0;
                                            bottom: 0;
                                            right: 0;
                                            box-sizing: border-box;
                                            text-align:center;
                                            color:rgba(255,255,255,0.9);
                                            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
                                            font-size: 24px;
                                            padding: 10px;
                                            font-weight:bold; line-height:1.0em;">
                                    {{ idea.tagline }}
                             </div>
                             {% if idea.get_lead_image %}
                             <span style="position:absolute; 
                                          bottom:15px; right:0; 
                                          background: #cccc00;
                                          color: #fff;
                                          font-size: 18px;
                                          font-weight: bold;
                                          padding: 4px 16px">Proposal</span>
                             {% endif %}
                        </div>
                        </a>
                        <div class="meta" style="margin-top:10px;">
                        <h4 class="media-heading">
                            <img class="profile-pic" style="margin-right: 10px; float: left"
                                 alt="{{ idea.user.profile.full_name }}"
                                 {% if idea.user.profile.photo %} 
                                 src="{% thumbnail idea.user.profile.photo '36x36' crop upscale %}"
                                 {% else %}
                                 src="{% static 'img/profile.png' %}"
                                 height="36"
                                 {% endif %}">
                            {{ idea.user.profile.full_name}} <small>on</small>                            
                            <br>
                            {% for lot in idea.lots.all %}
                            {% if forloop.first %}
                            <a href="{% url 'lotxlot_lot_detail' lot.id %}">
                                {{ lot.address }}</a>
                                {% if forloop.revcounter0 %} 
                                <small>(+ {{ forloop.revcounter0 }} more)</small>
                                {% endif %}
                            {% endif %} 
                            {% endfor %}
                        </h4>
                        <h6>Via {{ idea.get_via_display }}
                        {% if idea.get_via_display == "Twitter" %}
                            <i class="icon-twitter"></i>
                        {% elif idea.get_via_display == "Text" %}
                            <i class="icon-mobile-phone"></i>
                        {% elif idea.get_via_display == "Web" %}
                            <i class="icon-globe"></i>
                        {% elif idea.get_via_display == "Instagram" %}
                            <i class="icon-instagram"></i>
                        {% endif %}
                            &nbsp;•&nbsp; {{ idea.floated|ago }}
                        {% if request.user.is_authenticated %}
                            &nbsp;•&nbsp; {% phileo_widget request.user idea %}
                        {% else %}
                            <span class="phileo">
                                &nbsp;•&nbsp;
                                <a data-toggle="modal" data-target="#login-modal" href="#login-modal">
                                     Like
                                </a>
                                 &nbsp;•&nbsp;
                                <i class="{% if idea|likes_count > 0 %}icon-heart{% else %}icon-heart-empty{% endif %}"></i>
                                <span class="count">
                                    {{ idea|likes_count }}
                                </span>
                            </span>
                        {% endif %}
                        </h6> 
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}
