{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load phileo_tags %}
{% load thumbnail %}

{% load possiblecity_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-12">
            <div id="featured-idea-slideshow" class="carousel slide">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div id="0" class="item active">
                 <a href="{{ idea.get_absolute_url }}">
                  <img src="{% thumbnail idea.get_lead_image.file '1170x490' crop upscale quality=100  %}" alt="{{ idea.title }}">
                 </a>
                  <div class="carousel-caption hidden-xs">
                    <h3>{{ idea.title }}</h3>
                    {% if idea.lots.all %}
                    <h4>
                    {% for lot in idea.lots.all %}
                    <i class="icon-map-marker"></i> {{ lot.address }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    </h4>
                    {% endif %}
                    <p>{{ idea.tagline }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="homepage-intro jumbotron hidden-xs hidden-sm">
                <h1>Possible City</h1>
                <h2>Reimagining Philadelphia's vacant spaces</h2>
                <p>{{ banner_idea }}</p>
            </div>

        </div>
    </div>
    <!-- Featured Ideas --> 
    <div class="panel latest-ideas">
        <div class="row">
            <div class="col-lg-12 col-12">
                <h2 class="margin-bottom-20">Featured Projects</h2>
                <div class="row latest-ideas-homepage">
                {% for idea in featured_ideas %}
                    <div class="col-lg-4 col-md-4 col-xs-12  margin-bottom-20">
                       <a href="{% url 'ideas_idea_detail' idea.slug %}">
                        <div class="idea">
                            <img src="{% thumbnail idea.get_lead_image.file '400x226' crop="smart" upscale quality=100  %}" alt="{{ idea.title }}">
                             {% if idea.grounded %}
                             <span class="idea-phase">Active</span>
                             {% else %}
                             <span class="idea-phase">Proposal</span>
                             {% endif %}
                        </div>
                        </a>
                        <h3><a href="{% url 'ideas_idea_detail' idea.slug %}">{{ idea.title }}</a></h3>
                        <div class="meta">
                        <h4 class="media-heading">
                            <img class="profile-pic"
                                 alt="{{ idea.user.profile.full_name }}"
                                 {% if idea.user.profile.photo %} 
                                 src="{% thumbnail idea.user.profile.photo '36x36' crop="smart" %}"
                                 {% else %}
                                 src="{% static 'img/profile.png' %}"
                                 height="36"
                                 {% endif %}
                                 >
                            {{ idea.user.profile.full_name}}
                            {% if idea.lots.all %}
                                <small>on</small>                            
                                {% for lot in idea.lots.all %}
                                <br>
                                {% if forloop.first %}
                                    <a href="{% url 'lotxlot_lot_detail' lot.id %}">
                                    {{ lot.address }}
                                    </a>
                                    {% if forloop.revcounter0 %} 
                                    <small>(+ {{ forloop.revcounter0 }} more)</small>
                                    {% endif %}
                               {% endif %} 
                               {% endfor %}
                            {% endif %}
                        </h4>
                        <h6 style="clear:both">Via {{ idea.get_via_display }}
                        {% if idea.get_via_display == "Twitter" %}
                            <i class="icon-twitter"></i>
                        {% elif idea.get_via_display == "Text" %}
                            <i class="icon-mobile-phone"></i>
                        {% elif idea.get_via_display == "Web" %}
                            <i class="icon-globe"></i>
                        {% elif idea.get_via_display == "Instagram" %}
                            <i class="icon-instagram"></i>
                        {% endif %}
                            &nbsp;•&nbsp; {{ idea.floated|ago }}
                        {% if request.user.is_authenticated %}
                            &nbsp;•&nbsp; {% phileo_widget request.user idea %}
                        {% else %}
                            <span class="phileo">
                                &nbsp;•&nbsp;
                                <a data-toggle="modal" data-target="#login-modal" href="#login-modal">
                                     Like
                                </a>
                                 &nbsp;•&nbsp;
                                <i class="{% if idea|likes_count > 0 %}icon-heart{% else %}icon-heart-empty{% endif %}"></i>
                                <span class="count">
                                    {{ idea|likes_count }}
                                </span>
                            </span>
                        {% endif %}
                        </h6> 
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
     </div>

  </div>
{% if activity_stream %}
  <div class="panel activity">
    <div class="row">
      <div class="col-lg-12 col-12">
          <h2 class="margin-bottom-20">Latest Activity</h2>
          <div class="row">
          {% for action in activity_stream %}
              <div class="col-lg-4 col-md-6 margin-bottom-20">
                  <div class="media margin-bottom-20">
                      <span class="pull-left profile-img">
                          <img class="media-object"  
                              alt="" 
                              {% if action.actor.profile.photo %}
                              src="{% thumbnail action.actor.profile.photo '64x64' crop upscale %}" 
                              {% else %}
                              src="{% static 'img/profile.png' %}"
                              width="64" height="64"
                              {% endif %} 
                              />
                      </span>
                      <div class="media-body">
                          <h4 class="media-heading">
                              {% if action.actor.get_absolute_url %}
                                  <a href="{{ action.actor.get_absolute_url }}">{{ action.actor.profile.full_name }}</a>
                              {% else %}
                                  <a href="{{ action.actor_url }}">{{ action.actor.profile.full_name }}</a>
                              {% endif %}
                              <small>{{ action.verb }}
                              {% if action.action_object and action.target %}on{% endif %}</small>
                              {% if action.target %}
                                  {% if action.target.get_absolute_url %}
                                      <a href="{{ action.target.get_absolute_url }}">
                                          {% if action.target.profile.full_name %}
                                              {{ action.target.profile.full_name }} 
                                          {% else %}
                                              {{ action.target }} 
                                          {% endif %} 
                                      </a>
                                  {% else %}
                                      <a href="{{ action.target_url }}">
                                          {{ action.target }}
                                      </a>
                                  {% endif %}
                              {% endif %}
                             </h4> 
                             <h6>{{ action.timestamp|timesince }} {% trans "ago" %}</h6>
                      </div>
                  </div>
              </div>
          {% endfor %}
        </div>
    </div>
  </div>
  {% endif %}
</div>


{% endblock body %}
