{% extends "base.html" %}
{% block layout %}
<div class="section">
    {% block section_header_container %}
    <header class="section-header">
        {% block section_header %}
        <h1>{% block section_title %}{% endblock section_title %}</h1>
        {% endblock section_header %}
    </header>
    {% endblock section_header_container %}
    {% block section_content_container %}
    <section class="section-content">
        {% block page_header_container %}
        <header class="page-header">
            {% block page_header %}
            <h1 class="page-title">
                {% block page_title %}{% endblock page_title %}
            </h1>
            {% endblock page_header %}
        </header>
        {% endblock page_header_container %}
        {% block page_content %}
        {% endblock page_content %}
    </section>
    {% endblock section_content_container %}
    {% block section_nav_container %}
         <aside class="section-nav">
             {% block section_nav %}
             {% endblock section_nav %}
         </aside>
    {% endblock section_nav_container %}
</div>
{% endblock layout %}
