{% extends "base.html" %}
{% block site_section %}
    {% block section_header %}
        <header class="section-header">
            <h1>{% block section_title %}{% endblock section_title %}</h1>
        </header>
    {% endblock section_header %}
    {% block page_content_container %}
        <section class="page-content">
            {% block page_content %}
            {% endblock page_content %}
        </section>
    {% endblock page_content_container %}
    {% block section_nav_container %}
         <aside class="section-nav">
             {% block section_nav %}
             {% endblock section_nav %}
         </aside>
    {% endblock section_nav_container %}
{% endblock site_section %}
