{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}
{% block nav %}
    <ul class="nav">
        <li><a href="{% url float %}">Float</a></li>
        <li><a href="{% url lotxlot %}">LotxLot</a></li>
        <li><a href="{% url profiles_profile_list %}">People</a></li>
    </ul>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
