# This file collects all required third-party applications that are
# needed to run this project. Later you can install all these apps
# in a row  using pip.
#  Example::
#
#     pip install -r requirements.txt

# python modules
psycopg2
PIL

#django
django==1.3.1

# django third party modules
south
django-generic-flatblocks
django-debug-toolbar

# backbeat apps
-e git+git://github.com/dmeehan/django-backbeat-inlines.git#egg=django-backbeat-blog
-e git+git://github.com/dmeehan/django-backbeat-blog.git#egg=django-backbeat-inlines
-e git+git://github.com/dmeehan/django-backbeat-twitter.git#egg=django-backbeat-twitter
