--extra-index-url=http://dist.pinaxproject.com/dev/
--extra-index-url=http://dist.pinaxproject.com/alpha/

# python modules
#oauth2
#markdown
#textile
#pillow
pytz==2011n

Django==1.4
pinax-theme-bootstrap==2.0.4
django-forms-bootstrap==2.0.3.post1
metron==0.1 # 0.2.dev3
pinax-utils==1.0b1.dev3
django-timezones==0.2


-e git+git://github.com/pinax/pinax-theme-bootstrap-account.git#egg=pinax-theme-bootstrap-account
-e git+git://github.com/pinax/django-user-accounts.git#egg=django-user-accounts
-e git+git://github.com/eldarion/idios.git#egg=idios


# django third party modules
#south
#django-haystack
#django-imagekit
django-social-auth
#django-taggit
#django-markup
#django-oembed

# backbeat apps
#-e git+git://github.com/dmeehan/django-backbeat-text.git#egg=django-backbeat-text
#-e git+git://github.com/dmeehan/django-backbeat-inlines.git#egg=django-backbeat-inlines
#-e git+git://github.com/dmeehan/django-backbeat-twittools.git#egg=django-backbeat-twittools
#-e git+git://github.com/dmeehan/django-backbeat-images.git#egg=django-backbeat-images