{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Edit Profile" %}{% endblock %}

{% block body_class %}friends{% endblock %}

{% block body %}
    <h2>People Requesting Friendships</h2>
    <div class="row">
        {% for friend in requests %}
            {% include "friends/_request.html" %}
        {% endfor %}
    </div>
    
    <h2>Your Pending Friend Requests</h2>
    <div class="row">
        {% for friend in pending %}
            {% include "friends/_request.html" %}
        {% endfor %}
    </div>
    
    <h2>Your Friends</h2>
    <div class="row">
        {% for friend in accepted %}
            {% include "friends/_request.html" %}
        {% endfor %}
    </div>
{% endblock %}
