{% extends "ideas/base.html" %}

{% load i18n %}
{% load staticfiles %}

{% load thumbnail %}
{% load phileo_tags %}

{% block head_title %}{{ idea.tagline }}{% endblock %}

{% block body %}
<header class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-12 col-12 margin-bottom-20">
                <h1>{{ idea.title }}</h1>
                  {% for tag in idea.tags.all %} 
                  <span class="label label-info">{{ tag.name }}</span>
                  {% endfor %}
            </div>
               
        </div>
    </div>
</header>
<section class="container">
    <div class="row">
        <div class="col-lg-2 col-12">
            <div class="panel">
                <div class="row margin-bottom-20">
                        <div class="col-6 col-lg-12">
                            <div class="profile-pic">
                                {% if idea.user.profile.is_public %}
                                <a href="{% url 'profiles_profile_detail' idea.user.username %}">
                                {% endif %}
                                {% if idea.user.profile.photo %}
                                    <img src="{% thumbnail idea.user.profile.photo '400x400' crop upscale %}" />
                                {% else %}
                                    <img src="{% static 'img/profile.png' %}" />
                                {% endif %}
                                {% if idea.user.profile.is_public %}
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-6 col-lg-12">
                            <h5>Floated by</h5>
                            <h3>
                            {% if idea.user.first_name %}
                                {{ idea.user.profile.full_name}}
                            {% else %}
                                {{ idea.user.username }}
                            {% endif %}
                            </h3>
                            {% if request.user == idea.user.profile.user %}
                            <a class="btn btn-primary edit-profile-lg-devices" href="{% url 'ideas_idea_update' idea.id %}">{% trans 'Edit your idea' %}</a>
                            {% endif %}
                            {% if idea.grounded %}
                            <hr>
                            <h5>Grounded in</h5>
                            <h4>{{ idea.grounded|date:"Y" }}</h4>
                            {% endif %}
                            {% who_likes idea as idea_likes %}
                            {% if idea_likes %}
                            <hr>                           
                            <h5>Liked by</h5>
                            <div class="row">
                            {% for like in idea_likes %}
                                <div class="col-lg-6 col-12 margin-bottom-20">
                                    {% if like.sender.profile.is_public %}
                                    <a href="{% url 'profiles_profile_detail' like.sender.username %}">
                                    {% endif %}
                                    <img class="profile-pic"
                                    {% if like.sender.profile.photo %}
                                        src="{% thumbnail like.sender.profile.photo '200x200' crop upscale %}"
                                    {% else %}
                                        src="{% static 'img/profile.png' %}"
                                    {% endif %}
                                    {% if like.sender.first_name %}
                                        alt="{{ like.sender.profile.full_name }}"
                                        title="{{ like.sender.profile.full_name }}"
                                    {% else %}
                                        alt="{{ like.sender.username }}"
                                        title="{{ like.sender.username }}"
                                    {% endif %}
                                    >
                                    {% if like.sender.profile.is_public %}
                                    </a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            </div>

                            {% endif %}


                            <hr/>

                            <a href="{% url 'ideas_idea_update' idea.id %}">Edit this Project</a>


                        </div>
                    </div>
                </div>
        </div>
        <div class="col-lg-7 col-12">
            {% block project %}
            <div class="panel">
                <article id="idea">
                    {% if idea.get_lead_image %}
                    <section class="images">


                    <img src="{% thumbnail idea.get_lead_image.file 800x800 %}"
                         alt="{% if idea.get_lead_image.caption %}{{ idea.get_lead_image.caption }}{% else %}{{ idea.get_lead_image.title }}{% endif %}"
                         title="{{ idea.get_lead_image.title }}"/>
                    </section>
                    {% endif %}
                    <h2>{{ idea.tagline}}</h2>
                    {% if idea.description %}
                    <section id="description">
                        {{ idea.description_html|safe }}
                    </section>
                    {% endif %}
                    {% if request.user == idea.user %}
                    <a class="btn btn-primary" href="{% url 'ideas_idea_update' idea.id %}">{% trans 'Edit Idea' %}</a>
                    {% endif %}
                </article>
                {% block comments %}
                {% endblock comments %}
            </div>
            {% endblock project %}
        </div>
        <div class="col-lg-3 col-12">
           <div class="panel">
              <h5>Location</h5>
              {% for lot in idea.lots.all %}
              <h4><i class="icon-map-marker"></i>
                  <a href="{% url 'lotxlot_lot_detail' lot.id %}">
                    {{ lot.address }}
                  </a>
               </h4>
              <a href="{% url 'lotxlot_lot_detail' lot.id %}">
              <img src="http://maps.googleapis.com/maps/api/streetview?size=300x300&location={{ lot.coord.y }},{{ lot.coord.x}}&sensor=false&fov=105">
              </a>              
              {% endfor %}
           </div>
        </div>
    </div>
</section>
{% endblock body %}
