{% extends "ideas/base.html" %}
{% load i18n %}


{% block head_title %}Update Your Project{% endblock head_title %}

{% block body %}



    <header class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-12 margin-bottom-20">
                    <h1>Update Your Project</h1>
                </div>
            </div>
        </div>
</header>


<div class="container">
    <div class="panel">

        {% if form.is_multipart %}
        <form method="POST" enctype="multipart/form-data" action="{% url 'ideas_idea_update' idea.id %}">
        {% else %}
        <form method="POST" action="{% url 'ideas_idea_update' idea.id %}">
        {% endif %}
        {% csrf_token %}
        {{ form }}
        <div class="form-actions">  
            <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
            <a href="{% url 'ideas_idea_list' %}" class="btn btn-default">{% trans "Cancel" %}</a>
        </div>
        </form>


    </div>
</div>

{% endblock body %}
{% block extra_body %}
{% include 'autocomplete_light/static.html' %}
{% endblock extra_body %}
