 {% extends "ideas/base.html" %}

{% load staticfiles %}
{% load pagination_tags %}
{% load phileo_tags %}
{% load thumbnail %}

{% load possiblecity_tags %}

{% block head_title %}Ideas{% endblock head_title %}

{% block body %}
    <header class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-12 margin-bottom-20">
                    <h1>Projects Feed <small>{{ ideas.count }}</small></h1>
                </div>
                <div class="col-sm-7  margin-bottom-20 ideas-page-neighborhoods-panel-md-devices">
                    <nav class="panel">
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#">All Activity</a></li>
                            <!--<li><a href="#">Kensington</a></li>
                            <li><a href="#">Point Breeze</a></li>
                            <li><a href="#">Tioga</a></li>-->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section class="container">
        <div class="row">
            <div class="col-lg-2 col-12">
                <div class="panel ideas-page-neighborhoods-panel-xs-lg-devices">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#">All Activity</a></li>
                        <!--<li><a href="#">Kensington</a></li>
                        <li><a href="#">Point Breeze</a></li>
                        <li><a href="#">Tioga</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-12">
                <div class="panel ideas-page-panel activity">
                    
                    <ul class="list-group">
                       {% for idea in ideas %}
                            <li class="list-group-item" id="idea-{{ idea.id }}">
                                <div class="media">           
                                    {% if idea.get_lead_image %}
                        <a class="pull-left" href="{{ idea.get_absolute_url }}">
                          <img src="{% thumbnail idea.get_lead_image.file '128x128' crop %}" alt="{{ idea.title }}" />
                        </a>
                    {% else %}
                      <a class="pull-left" href="{{ idea.get_absolute_url }}">
                        <img class="lot-image-lot-detail-page" src="http://maps.googleapis.com/maps/api/streetview?size=128x128&location={{ lot.coord.y }},{{ lot.coord.x}}&sensor=false&fov=105">
                      </a>
                    {% endif %}
                                    <div class="media-body">
                                        <a href="{{ idea.get_absolute_url }}">
                                            <h4 class="media-heading">
                                            {% if idea.title %}
                                              {{ idea.title }}
                                            {% else %}
                                              Untitled Project
                                            {% endif %}
                                            </h4>
                                        </a> 
                                        <p>{{ idea.tagline }}</p>
                                        <h6>
                                            <a href="{{ idea.user.profile.get_absolute_url }}">
                                            {% if idea.user.first_name %}
                                            {{ idea.user.profile.full_name }}
                                            {% else %}
                                             {{ idea.user.username }}
                                            {% endif %}
                                            </a> 
                                            Via {{ idea.get_via_display }}
                                            {% if idea.get_via_display == "Twitter" %}
                                            <i class="icon-twitter"></i>
                                            {% elif idea.get_via_display == "Text" %}
                                            <i class="icon-mobile-phone"></i>
                                            {% elif idea.get_via_display == "Web" %}
                                            <i class="icon-globe"></i>
                                            {% elif idea.get_via_display == "Instagram" %}
                                            <i class="icon-instagram"></i>
                                            {% endif %}
                                            &nbsp;•&nbsp; {{ idea.floated|ago }}
                                            &nbsp;•&nbsp;
                                            <a href="{{ idea.get_absolute_url }}">
                                              View
                                            </a>
                                            {% if request.user.is_authenticated %}
                                                &nbsp;•&nbsp; {% phileo_widget request.user idea %}
                                            {% else %}
                                            <span class="phileo">
                                                &nbsp;•&nbsp;
                                                <a data-toggle="modal" data-target="#login-modal" href="#login-modal">
                                                  Like
                                                </a>
                                                &nbsp;•&nbsp;
                                                <i class="{% if idea|likes_count > 0 %}icon-heart{% else %}icon-heart-empty{% endif %}"></i>
                                                <span class="count">
                                                    {{ idea|likes_count }}
                                                </span>
                                            </span>
                                            {% endif %}
                                        </h6>
                                    </div>
                                </div>
                            </li>
                            {% empty %}
                        {% endfor %}        
                    </ul>



                </div>
            </div>
        </div>
    </section>
{% endblock body %}
