{% extends "ideas/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load humanize %}
{% load floppyforms %}

{% load thumbnail %}
{% load phileo_tags %}
{% load comment_tags %}
{% load activity_tags %}

{% block head_title %}{{ idea.tagline }}{% endblock %}

{% block body %}
<header class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h1>{{ idea.title }}</h1>
                  {% for tag in idea.tags.all %} 
                  <span class="label label-info">{{ tag.name }}</span>
                  {% endfor %}
            </div>
            <div class="action-buttons col-xs-12 col-md-4">
              <div class="btn-group">
                <a class="btn btn-primary ajax" 
                   href="{% follow_all_url idea %}"
                   data-method="post"
                   data-replace-closest=".actstream"
                   data-spinner="off">
                  {% if request.user|is_following:idea %}
                    <i class="icon-ok-sign"></i> {% trans 'Following' %}
                  {% else %}
                    <i class="icon-plus"></i> {% trans 'Follow' %}
                  {% endif %}
                </a>
                {% phileo_widget_brief request.user idea %}
                {% if request.user == idea.user.profile.user or request.user.is_staff %}
                  <a class="btn btn-primary" href="{% url 'ideas_idea_update' idea.id %}">{% trans 'Edit Your Project' %}</a>
              {% endif %}
              </div>
            </div>
        </div>
    </div>
</header>
<section class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            {% block project %}
            <div class="panel">
                <article id="idea">
                    {% if idea.get_lead_image %}
                    <section class="images">
                    <img src="{% thumbnail idea.get_lead_image.file 800x800 %}"
                         alt="{% if idea.get_lead_image.caption %}{{ idea.get_lead_image.caption }}{% else %}{{ idea.get_lead_image.title }}{% endif %}"
                         title="{{ idea.get_lead_image.title }}"/>
                    </section>
                    {% endif %}
                    <h3>{{ idea.tagline}}</h3>
                    {% if idea.description %}
                    <section id="description">
                        {{ idea.description_html|safe }}
                    </section>
                    {% endif %}
                    {% if request.user == idea.user %}
                    <a class="btn btn-primary" href="{% url 'ideas_idea_update' idea.id %}">{% trans 'Edit Idea' %}</a>
                    {% endif %}
                </article>
                {% block comments %}
                {% endblock comments %}
            </div>
            <div class="panel">   
              <h2>Comments <small>{% comment_count idea %}</small></h2>
                <ul class="list-group">
                <div class="nav-tab-button text-center"></div>
                  <li class="list-group-item">
                    <div class="media"> 
                      <span class="pull-left profile-img">            
                        <img class="media-object"  
                        alt="{{ request.user }}" 
                        {% if request.user.profile.photo %}
                        src="{{ request.user.profile.photo.url }}" 
                        {% else %}
                        src="{% static 'img/profile.png' %}"
                        {% endif %} 
                        style="width: 64px; height: 64px;" />
                      </span>
                      <div class="media-body">
                        {% comment_form idea as comment_form %}
                        <form method="post" id="comment-form" action=".">
                          {% csrf_token %}
                          {{ comment_form }}
                          <div class="form-actions">
                            <button type="submit" class="btn btn-primary pull-right">{% trans "Add your comment" %}
                            </button>
                          </div>
                        </form> 
                      </div>
                    </div>
                  </li>
                  {% comments idea as comments %}
                  {% for comment in comments %}
                  <li class="list-group-item" id="comment-{{ comment.id }}">
                    <div class="media"> 
                    {% if comment.user.profile.is_public %}
                      <a class="pull-left profile-img" href="{{ comment.user.profile.get_absolute_url }}">
                    {% else %}
                      <span class="pull-left profile-img">
                    {% endif %}                    
                        <img class="media-object"  
                        alt="{{ comment.user }}" 
                        {% if comment.user.profile.photo %}
                        src="{{ comment.user.profile.photo.url }}" 
                        {% else %}
                        src="{% static 'img/profile.png' %}"
                        {% endif %} 
                        style="width: 64px; height: 64px;" />
                    {% if comment.user.profile.is_public %}
                      </a>
                    {% else %}
                      </span>
                    {% endif %}
                      <div class="media-body">
                        <h4 class="media-heading">
                          {{ comment.user.profile.full_name }}
                        </h4>
                        {% if comment.image %}
                        <img src="{% thumbnail comment.image '300x150' crop %}" alt="{{ comment.text }}" />
                        {% endif %}
                        <p>{{ comment.text }}</p>
                        <h6>Via {{ comment.get_via_display }}
                            {% if comment.get_via_display == "Twitter" %}
                            <i class="icon-twitter"></i>
                            {% elif comment.get_via_display == "Text" %}
                            <i class="icon-mobile-phone"></i>
                            {% elif comment.get_via_display == "Web" %}
                            <i class="icon-globe"></i>
                            {% elif comment.get_via_display == "Instagram" %}
                            <i class="icon-instagram"></i>
                            {% endif %}
                            &nbsp;•&nbsp; {{ comment.created }}
                            {% if request.user.is_authenticated %}
                                &nbsp;•&nbsp; {% phileo_widget request.user comment %}
                            {% else %}
                            <span class="phileo">
                                &nbsp;•&nbsp;
                                <a data-toggle="modal" data-target="#login-modal" href="#login-modal">
                                  Like
                                </a>
                                &nbsp;•&nbsp;
                                <i class="{% if comment|likes_count > 0 %}icon-heart{% else %}icon-heart-empty{% endif %}"></i>
                                <span class="count">
                                    {{ comment|likes_count }}
                                </span>
                            </span>
                            {% endif %}
                          </h6>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
              </ul>    
            </div>
            {% endblock project %}
        </div> <!-- .col-md-6 -->
        <div class="col-xs-12 col-md-4">
          <div class="panel">
            <h2>Location</h2>
              <div class="row">
                {% for lot in idea.lots.all %}
                  <div class="col-xs-12">
                    <h4><i class="icon-map-marker"></i>
                        <a href="{% url 'lotxlot_lot_detail' lot.id %}">
                          {{ lot.address }}
                        </a>
                     </h4>
                    <a href="{% url 'lotxlot_lot_detail' lot.id %}">
                    <img src="http://maps.googleapis.com/maps/api/streetview?size=400x400&location={{ lot.coord.y }},{{ lot.coord.x}}&sensor=false&fov=105">
                    </a>   
                  </div>           
                  {% endfor %}
                </div>
            </div>
          <ul class="list-group people-section">
            <li class="list-group-item">
              <h2>People <small>{{idea|likes_count}}</small></h2>
            </li>

            <li class="list-group-item">
              <h3>Initiator</h3>
               <div class="row">  
                <div class="col-xs-6">
                  <div class="profile-pic">
                      {% if idea.user.profile.is_public %}
                      <a href="{% url 'profiles_profile_detail' idea.user.username %}">
                      {% endif %}
                      {% if idea.user.profile.photo %}
                          <img src="{% thumbnail idea.user.profile.photo '400x400' crop upscale %}" />
                      {% else %}
                          <img src="{% static 'img/profile.png' %}" />
                      {% endif %}
                      {% if idea.user.profile.is_public %}
                      </a>
                      {% endif %}
                  </div>
                </div>
                <div class="col-xs-6">
                  <h4>{{ idea.user.profile.full_name}}</h4>
                  <p><a href="mailto:{{idea.user.email}}">{{ idea.user.email }}</a>
                  {% if idea.user.profile.website %}
                  <br>{{ idea.user.profile.website|urlize }}
                  {% endif %}
                  {% if idea.user.profile.twitter %}
                  <br>{{ idea.user.profile.twitter }}
                  {% endif %}
                </div>
            </li>
            <li class="list-group-item">
              <h3>Appreciators</h3>
              {% who_likes idea as idea_likes %}
              {% if idea_likes %}
              <div class="row">
              {% for like in idea_likes %}
                  <div class="col-xs-3">
                      {% if like.sender.profile.is_public %}
                      <a href="{% url 'profiles_profile_detail' like.sender.username %}">
                      {% endif %}
                      <img class="profile-pic"
                      {% if like.sender.profile.photo %}
                          src="{% thumbnail like.sender.profile.photo '200x200' crop upscale %}"
                      {% else %}
                          src="{% static 'img/profile.png' %}"
                      {% endif %}
                      {% if like.sender.first_name %}
                          alt="{{ like.sender.profile.full_name }}"
                          title="{{ like.sender.profile.full_name }}"
                      {% else %}
                          alt="{{ like.sender.username }}"
                          title="{{ like.sender.username }}"
                      {% endif %}
                      >
                      {% if like.sender.profile.is_public %}
                      </a>
                      {% endif %}
                  </div>
              {% endfor %}
              </div>

              {% endif %}
              
              
            </li>
          </ul>



        </div> 

        
    </div>
</section>
{% endblock body %}
