{% extends "ideas/base.html" %}
{% load i18n %}


{% block head_title %}Create a Project{% endblock head_title %}

{% block body %}



    <header class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-12 margin-bottom-20">
                    <h1>Create a Project</h1>
                </div>
            </div>
        </div>
</header>


<div class="container">
    <div class="panel">

        {% if form.is_multipart %}
        <form method="POST" enctype="multipart/form-data" action="{% url 'ideas_idea_create' %}">
        {% else %}
        <form method="POST" action="{% url 'ideas_idea_create' %}">
        {% endif %}
        {{ form }}
        {% csrf_token %}
        <div class="form-actions">
            <a href="{% url 'ideas_idea_list' %}" class="btn">{% trans "Cancel" %}</a>
            <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
        </div>
        </form>


    </div>
</div>

{% endblock body %}
