\/***************************************************************************/
/* GENERAL STYLES */


body, html {
	height: 100%;
}

body { 
	padding-top: 70px;
}


img {
	max-width: 100%;
}



/***************************************************************************/
/* TYPOGRAPHY */

h5 {
	text-transform: uppercase;
}





.navbar-nav > li > a.dropdown-toggle.signed-in {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

.navbar-nav > li > a.dropdown-toggle.signed-in img {
	width: 30px;
	height: 30px;
	margin-left: 5px;
}



/***************************************************************************/
/* ABOUT */

.stats p.lead {
  margin-bottom: 0;
  text-align: center;
  font-size: 21px;
}

.stats h5 {
  text-align: center;
  margin-bottom: 20px;
}

.stats {
  padding: 20px;
  background: white;
  text-align: center;
}


/***************************************************************************/
/* PROFILES */




/***************************************************************************/
/* IDEAS */

.panel.lot-info {
	background-color: #f6f6f6;
	text-align: center;
}

.panel.lot-info .instructions {
	margin: 90px 0;
	padding: 0;
}





/***************************************************************************/
/* SPACING STYLES */

.margin-bottom-20 {
	margin-bottom: 20px;
}


/***************************************************************************/
/* MAP STYLES */
.map {
	position: absolute;
	z-index: -1000000;
}

.map-idea-profile-width {
	width:70px;
}

#info .bold p {
	padding-left: 15px;
	font-weight: bold;
}


/***************************************************************************/
/* SIDEBAR STYLES */

.sidebar {
	position: absolute;
	right: 0;
	top: 50px;
	bottom: 0;
	/*background-color: #fefefe;*/
	background-color: rgba(255,255,255,0.85);
	width: 400px;
	padding-top: 10px;
	padding-bottom: 20px;
	overflow: scroll;
}

#sidebar-tabs-content {
	margin-top: 0px;
}

#sidebar-tabs-content h6 {
	color: #666;
}

.sidebar .lot-id-header {
	margin-bottom: 30px;
}

.sidebar  .lot-id-header h2 {
	font-style: italic; 
}

.sidebar .close-button {
	padding-right: 10px;
	display: block;
	margin-bottom: -30px;
}

.sidebar .close {
font-size: 27px;
color: #838383;
opacity: 1;
}

.sidebar .nav-tabs {
font-size: 20px;
}

.sidebar .nav-tabs > li {
	text-align: center;
	width: 50%;

}

.sidebar .nav-tabs > li > a {
	color: #555555;
	background-color: #dddddd;
	border-radius: 0px 0px 0 0;
	margin-right: 0px;
}


.sidebar  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #555555;
	font-weight: bold;
	background-color: #FFFFFF;
	border-left: none;
	border-right: none;
} 

.sidebar .nav-tab-button {
	margin-bottom: 20px;
}

.sidebar  .nav-tab-button {
	margin-top: 10px;
}




/***************************************************************************/
/* ACTIVITY FEED */



.activity .list-group-item.active, .activity .list-group-item:hover  { 
	/*
	z-index: 2;
	color: #ffffff;
	background-color: #428bca;
	border-color: #428bca;*/
	background-color: #f5f5f5;
}

.activity .list-group-item {
	padding: 15px 30px 10px 15px;
}

.panel.activity .panel-heading {
	margin: -15px -15px 0px;
}

.tab-content > .tab-pane {
padding-top: 15px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
margin-bottom: -15px;
background-color: #FFFFFF;
}



.panel.activity .list-group {
	margin: 0px -15px -15px;
}

.activity .list-group-item:first-child {
	border-top: none;
}

.activity .panel-heading h5 {
	margin-top: 0;
	margin-bottom: 0;
}

.activity h6 {
	color: #666;
}

.activity .lot-info-table {
	margin-bottom: 20px;
}


/***************************************************************************/
/* LOT INFO */

#info .table {
margin-left: 15px;
margin-top: -10px;
border-bottom: 1px solid #dddddd;
}






/***************************************************************************/
/******************************************************* RESPONSIVE STYLES */


@media (max-width: 768px) {

	/***************************************************************************/
	/* SIDEBAR STYLES */
	.sidebar {
		width: 100%;
	}

	/***************************************************************************/
	/* PROFILES */

	.profile h3 {
		margin-top: 0;
	}
  
}



