/* line 17, ../../../../../../.virtualenvs/prod/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.virtualenvs/prod/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.virtualenvs/prod/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.virtualenvs/prod/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.virtualenvs/prod/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.virtualenvs/prod/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.virtualenvs/prod/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.virtualenvs/prod/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.virtualenvs/prod/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Root -------------------------------------------------------------------- */
/* line 61, ../../../../../../.virtualenvs/prod/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../.virtualenvs/prod/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 3, ../compass/sass/possiblecity.sass */
a {
  color: #999900;
}
/* line 5, ../compass/sass/possiblecity.sass */
a:hover {
  color: #4c4d00;
}

/* line 8, ../compass/sass/possiblecity.sass */
button {
  font-size: 16px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0B99C2', endColorstr='#FF064D61');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0b99c2), color-stop(100%, #087392));
  background: -webkit-linear-gradient(#0b99c2, #087392);
  background: -moz-linear-gradient(#0b99c2, #087392);
  background: -o-linear-gradient(#0b99c2, #087392);
  background: linear-gradient(#0b99c2, #087392);
  -webkit-box-shadow: #27c5f3 0 1px 0 inset;
  -moz-box-shadow: #27c5f3 0 1px 0 inset;
  box-shadow: #27c5f3 0 1px 0 inset;
  border: 1px solid #07607a;
  color: white;
  text-shadow: #043645 0 -1px 0;
}
/* line 15, ../../../../../../.virtualenvs/prod/gems/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../.virtualenvs/prod/gems/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button:hover {
  background-color: #07607a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a86aa), color-stop(100%, #07607a));
  background: -webkit-linear-gradient(#0a86aa, #07607a);
  background: -moz-linear-gradient(#0a86aa, #07607a);
  background: -o-linear-gradient(#0a86aa, #07607a);
  background: linear-gradient(#0a86aa, #07607a);
}
/* line 39, ../../../../../../.virtualenvs/prod/gems/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button:active {
  -webkit-box-shadow: #06546b 0 1px 2px inset;
  -moz-box-shadow: #06546b 0 1px 2px inset;
  box-shadow: #06546b 0 1px 2px inset;
}
/* line 6, ../../../../../../.virtualenvs/prod/gems/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button.disabled, button[disabled] {
  opacity: 0.6;
  background: #087392;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../.virtualenvs/prod/gems/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 11, ../compass/sass/possiblecity.sass */
body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
}

/* line 15, ../compass/sass/possiblecity.sass */
h1 {
  font-size: 3em;
  line-height: 1em;
  color: #222222;
}

/* line 19, ../compass/sass/possiblecity.sass */
h2 {
  font-size: 2em;
  line-height: 1.5em;
  color: #222222;
}

/* line 23, ../compass/sass/possiblecity.sass */
h3 {
  font-size: 1.5em;
  line-height: 2em;
  color: #222222;
}

/* line 27, ../compass/sass/possiblecity.sass */
p {
  margin-bottom: 1.5em;
}

/* line 30, ../compass/sass/possiblecity.sass */
blockquote {
  font-style: italic;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 1.4375em;
  border-color: #eeeeee;
  border-width: 8px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 38, ../compass/sass/possiblecity.sass */
ol {
  list-style: lower-alpha;
}

/* line 43, ../compass/sass/possiblecity.sass */
header.site-header {
  *zoom: 1;
  max-width: 70em;
  _width: 70em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 38, ../../../../../../.virtualenvs/prod/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
header.site-header:after {
  content: "";
  display: table;
  clear: both;
}

/* line 48, ../compass/sass/possiblecity.sass */
footer.site-footer {
  *zoom: 1;
  max-width: 70em;
  _width: 70em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  clear: both;
}
/* line 38, ../../../../../../.virtualenvs/prod/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
footer.site-footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 52, ../compass/sass/possiblecity.sass */
nav.site-nav {
  margin-left: 25.71429%;
  width: 74.28571%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}
/* line 55, ../compass/sass/possiblecity.sass */
nav.site-nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  float: right;
}
/* line 60, ../../../../../../.virtualenvs/prod/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav.site-nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../.virtualenvs/prod/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav.site-nav ul li:first-child, nav.site-nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../.virtualenvs/prod/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav.site-nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../.virtualenvs/prod/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav.site-nav ul li.last {
  padding-right: 0;
}
/* line 59, ../compass/sass/possiblecity.sass */
nav.site-nav ul li a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 3px 12px;
  margin-left: 12px;
  border: 4px solid #eeeeee;
  color: #cccccc;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
  text-decoration: none;
}
/* line 67, ../compass/sass/possiblecity.sass */
nav.site-nav ul li a:hover {
  background: #999900;
  border-color: link-color;
  color: white;
}

/* line 72, ../compass/sass/possiblecity.sass */
div.identity {
  width: 30.76923%;
  float: left;
  margin-right: 3.84615%;
  display: inline;
}
/* line 74, ../compass/sass/possiblecity.sass */
div.identity h1 {
  display: none;
}
/* line 77, ../compass/sass/possiblecity.sass */
div.identity a.logo img {
  width: 100%;
}

/* line 80, ../compass/sass/possiblecity.sass */
div.page-content {
  *zoom: 1;
  max-width: 70em;
  _width: 70em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}
/* line 38, ../../../../../../.virtualenvs/prod/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
div.page-content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 83, ../compass/sass/possiblecity.sass */
article.entry {
  clear: both;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 1.5em;
}
/* line 87, ../compass/sass/possiblecity.sass */
article.entry aside {
  width: 22.85714%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
  margin-top: 0.5em;
  text-align: right;
}
/* line 91, ../compass/sass/possiblecity.sass */
article.entry aside p.date {
  background: #cccccc;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 6px;
}
/* line 97, ../compass/sass/possiblecity.sass */
article.entry aside p.author {
  color: #999999;
}
/* line 100, ../compass/sass/possiblecity.sass */
article.entry aside ul.tags li {
  background: #eeeeee;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 6px;
}
/* line 106, ../compass/sass/possiblecity.sass */
article.entry aside ul.tags li:hover {
  background: #666666;
}
/* line 108, ../compass/sass/possiblecity.sass */
article.entry h2 {
  color: #444444;
  font-weight: bold;
}
/* line 111, ../compass/sass/possiblecity.sass */
article.entry h2 a {
  color: #444444;
  font-weight: bold;
  text-decoration: none;
}
/* line 115, ../compass/sass/possiblecity.sass */
article.entry h2 a:hover {
  color: #999900;
}
/* line 118, ../compass/sass/possiblecity.sass */
article.entry section.entry-content {
  width: 74.28571%;
  float: right;
  margin-right: 0;
  #margin-left: -2em;
  display: inline;
}

/* line 121, ../compass/sass/possiblecity.sass */
#map {
  width: 100%;
  height: 100%;
}
