/* line 17, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Root -------------------------------------------------------------------- */
/* line 61, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 3, ../compass/sass/possiblecity.sass */
a {
  color: #999900;
}
/* line 5, ../compass/sass/possiblecity.sass */
a:hover {
  color: #4c4d00;
}

/* line 8, ../compass/sass/possiblecity.sass */
a.button {
  font-size: 16px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF5EA9B3', endColorstr='#FF376D74');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5ea9b3), color-stop(100%, #478d97));
  background: -webkit-linear-gradient(#5ea9b3, #478d97);
  background: -moz-linear-gradient(#5ea9b3, #478d97);
  background: -o-linear-gradient(#5ea9b3, #478d97);
  background: linear-gradient(#5ea9b3, #478d97);
  -webkit-box-shadow: #92c5cc 0 1px 0 inset;
  -moz-box-shadow: #92c5cc 0 1px 0 inset;
  box-shadow: #92c5cc 0 1px 0 inset;
  border: 1px solid #3f7d85;
  color: white;
  text-shadow: #2d595f 0 -1px 0;
}
/* line 15, ../../../../../../.virtualenvs/dev/gems/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.button:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../.virtualenvs/dev/gems/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.button:hover {
  background-color: #3f7d85;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4f9ea8), color-stop(100%, #3f7d85));
  background: -webkit-linear-gradient(#4f9ea8, #3f7d85);
  background: -moz-linear-gradient(#4f9ea8, #3f7d85);
  background: -o-linear-gradient(#4f9ea8, #3f7d85);
  background: linear-gradient(#4f9ea8, #3f7d85);
}
/* line 39, ../../../../../../.virtualenvs/dev/gems/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.button:active {
  -webkit-box-shadow: #3a737b 0 1px 2px inset;
  -moz-box-shadow: #3a737b 0 1px 2px inset;
  box-shadow: #3a737b 0 1px 2px inset;
}
/* line 6, ../../../../../../.virtualenvs/dev/gems/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.button.disabled, a.button[disabled] {
  opacity: 0.6;
  background: #478d97;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../.virtualenvs/dev/gems/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
a.button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 11, ../compass/sass/possiblecity.sass */
button {
  font-size: 16px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF5EA9B3', endColorstr='#FF376D74');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5ea9b3), color-stop(100%, #478d97));
  background: -webkit-linear-gradient(#5ea9b3, #478d97);
  background: -moz-linear-gradient(#5ea9b3, #478d97);
  background: -o-linear-gradient(#5ea9b3, #478d97);
  background: linear-gradient(#5ea9b3, #478d97);
  -webkit-box-shadow: #92c5cc 0 1px 0 inset;
  -moz-box-shadow: #92c5cc 0 1px 0 inset;
  box-shadow: #92c5cc 0 1px 0 inset;
  border: 1px solid #3f7d85;
  color: white;
  text-shadow: #2d595f 0 -1px 0;
}
/* line 15, ../../../../../../.virtualenvs/dev/gems/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../.virtualenvs/dev/gems/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button:hover {
  background-color: #3f7d85;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4f9ea8), color-stop(100%, #3f7d85));
  background: -webkit-linear-gradient(#4f9ea8, #3f7d85);
  background: -moz-linear-gradient(#4f9ea8, #3f7d85);
  background: -o-linear-gradient(#4f9ea8, #3f7d85);
  background: linear-gradient(#4f9ea8, #3f7d85);
}
/* line 39, ../../../../../../.virtualenvs/dev/gems/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button:active {
  -webkit-box-shadow: #3a737b 0 1px 2px inset;
  -moz-box-shadow: #3a737b 0 1px 2px inset;
  box-shadow: #3a737b 0 1px 2px inset;
}
/* line 6, ../../../../../../.virtualenvs/dev/gems/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button.disabled, button[disabled] {
  opacity: 0.6;
  background: #478d97;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../.virtualenvs/dev/gems/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 14, ../compass/sass/possiblecity.sass */
body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
}

/* line 18, ../compass/sass/possiblecity.sass */
h1 {
  font-size: 3em;
  line-height: 1em;
  color: #222222;
}

/* line 22, ../compass/sass/possiblecity.sass */
h2 {
  font-size: 2em;
  line-height: 1.5em;
  color: #222222;
}

/* line 26, ../compass/sass/possiblecity.sass */
h3 {
  font-size: 1.5em;
  line-height: 2em;
  color: #222222;
}

/* line 30, ../compass/sass/possiblecity.sass */
h4 {
  font-size: 1.2em;
  line-height: 2.5em;
  color: #222222;
}

/* line 34, ../compass/sass/possiblecity.sass */
p {
  margin-bottom: 1.5em;
}
/* line 36, ../compass/sass/possiblecity.sass */
p:first-child {
  margin-top: 1.5em;
}

/* line 39, ../compass/sass/possiblecity.sass */
blockquote {
  font-style: italic;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 1.4375em;
  border-color: #eeeeee;
  border-width: 8px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 47, ../compass/sass/possiblecity.sass */
ol {
  list-style: lower-alpha;
}

/* line 50, ../compass/sass/possiblecity.sass */
div.status {
  font-size: 0.75em;
  line-height: 2em;
  position: absolute;
  top: 8em;
  left: 50%;
  width: 16em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: -8em;
  background-color: rgba(255, 255, 255, 0.5);
  color: #e8db00;
  padding: 0.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 71, ../compass/sass/possiblecity.sass */
div.identity h1 {
  display: none;
}
/* line 74, ../compass/sass/possiblecity.sass */
div.identity a.logo img {
  width: 100%;
}

/* line 77, ../compass/sass/possiblecity.sass */
footer.site-footer {
  clear: both;
  *zoom: 1;
  max-width: 70em;
  _width: 70em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}
/* line 38, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
footer.site-footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 83, ../compass/sass/possiblecity.sass */
body.blog header.site-header + container {
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 87, ../compass/sass/possiblecity.sass */
body.blog footer.site-footer {
  *zoom: 1;
  max-width: 70em;
  _width: 70em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  clear: both;
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 1.4375em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: right;
  border-color: #eeeeee;
}
/* line 38, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body.blog footer.site-footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 96, ../compass/sass/possiblecity.sass */
body.blog nav.site-nav {
  margin-left: 25.71429%;
  width: 74.28571%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}
/* line 99, ../compass/sass/possiblecity.sass */
body.blog nav.site-nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  float: right;
}
/* line 60, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.blog nav.site-nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.blog nav.site-nav ul li:first-child, body.blog nav.site-nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.blog nav.site-nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.blog nav.site-nav ul li.last {
  padding-right: 0;
}
/* line 103, ../compass/sass/possiblecity.sass */
body.blog nav.site-nav ul li a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 3px 12px;
  margin-left: 12px;
  border: 4px solid #eeeeee;
  color: #cccccc;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
  text-decoration: none;
}
/* line 71, ../compass/sass/_base.sass */
body.blog nav.site-nav ul li a:hover {
  background: #999900;
  border-color: link-color;
  color: white;
}
/* line 106, ../compass/sass/possiblecity.sass */
body.blog div.identity {
  width: 42.30769%;
  float: left;
  margin-right: 3.84615%;
  display: inline;
}
/* line 109, ../compass/sass/possiblecity.sass */
body.blog div.page-content {
  *zoom: 1;
  max-width: 70em;
  _width: 70em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}
/* line 38, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body.blog div.page-content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 112, ../compass/sass/possiblecity.sass */
body.blog article.entry {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  margin-bottom: 1.5em;
}
/* line 116, ../compass/sass/possiblecity.sass */
body.blog article.entry aside {
  margin-top: 0.5em;
  width: 22.85714%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
  text-align: right;
}
/* line 120, ../compass/sass/possiblecity.sass */
body.blog article.entry aside p.date {
  background: #cccccc;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 6px;
  margin-top: 0;
}
/* line 127, ../compass/sass/possiblecity.sass */
body.blog article.entry aside p.author {
  color: #999999;
}
/* line 130, ../compass/sass/possiblecity.sass */
body.blog article.entry aside ul.tags li {
  background: #eeeeee;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 6px;
  margin: 2px 0 2px 2px;
}
/* line 137, ../compass/sass/possiblecity.sass */
body.blog article.entry aside ul.tags li:hover {
  background: #666666;
}
/* line 139, ../compass/sass/possiblecity.sass */
body.blog article.entry h2 {
  font-weight: bold;
}
/* line 141, ../compass/sass/possiblecity.sass */
body.blog article.entry h2 a {
  color: #444444;
  font-weight: bold;
  text-decoration: none;
}
/* line 145, ../compass/sass/possiblecity.sass */
body.blog article.entry h2 a:hover {
  color: #999900;
}
/* line 148, ../compass/sass/possiblecity.sass */
body.blog article.entry section.entry-content {
  width: 74.28571%;
  float: right;
  margin-right: 0;
  #margin-left: -2em;
  display: inline;
}
/* line 151, ../compass/sass/possiblecity.sass */
body.blog nav.entry-nav {
  clear: both;
  text-align: right;
}
/* line 154, ../compass/sass/possiblecity.sass */
body.blog nav.entry-nav a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 3px 12px;
  margin-left: 12px;
  border: 4px solid #eeeeee;
  color: #cccccc;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
  text-decoration: none;
}
/* line 71, ../compass/sass/_base.sass */
body.blog nav.entry-nav a:hover {
  background: #999900;
  border-color: link-color;
  color: white;
}

/* line 14, ../../../../../../.virtualenvs/dev/gems/gems/susy-1.0.1/sass/susy/_grid.scss */
body.map * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 164, ../compass/sass/possiblecity.sass */
body.map #map {
  width: 100%;
  height: 100%;
}
/* line 168, ../compass/sass/possiblecity.sass */
body.map .leaflet-control-zoom {
  left: 2em;
  top: 4em;
}
/* line 172, ../compass/sass/possiblecity.sass */
body.map header.site-header {
  background-color: white;
  width: 100%;
  padding: 1em 0;
  position: absolute;
  z-index: 1000;
}
/* line 178, ../compass/sass/possiblecity.sass */
body.map header.site-header nav.site-nav {
  *zoom: 1;
  max-width: 74em;
  _width: 74em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}
/* line 38, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body.map header.site-header nav.site-nav:after {
  content: "";
  display: table;
  clear: both;
}
/* line 180, ../compass/sass/possiblecity.sass */
body.map header.site-header nav.site-nav div.identity {
  width: 14.28571%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}
/* line 182, ../compass/sass/possiblecity.sass */
body.map header.site-header nav.site-nav div.identity a.logo {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 187, ../compass/sass/possiblecity.sass */
body.map header.site-header nav.site-nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  float: right;
}
/* line 60, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.map header.site-header nav.site-nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.map header.site-header nav.site-nav ul li:first-child, body.map header.site-header nav.site-nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.map header.site-header nav.site-nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.map header.site-header nav.site-nav ul li.last {
  padding-right: 0;
}
/* line 191, ../compass/sass/possiblecity.sass */
body.map header.site-header nav.site-nav ul li a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 3px 12px;
  margin-left: 12px;
  border: 4px solid #eeeeee;
  color: #cccccc;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
  text-decoration: none;
}
/* line 71, ../compass/sass/_base.sass */
body.map header.site-header nav.site-nav ul li a:hover {
  background: #999900;
  border-color: link-color;
  color: white;
}
/* line 194, ../compass/sass/possiblecity.sass */
body.map article.lot {
  *zoom: 1;
  max-width: 74em;
  _width: 74em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
  z-index: 1001;
}
/* line 38, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body.map article.lot:after {
  content: "";
  display: table;
  clear: both;
}
/* line 198, ../compass/sass/possiblecity.sass */
body.map article.lot section.details {
  position: relative;
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 2em;
  margin-top: -30em;
  background-color: rgba(255, 255, 255, 0.7);
}
/* line 207, ../compass/sass/possiblecity.sass */
body.map article.lot section.details ul {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 210, ../compass/sass/possiblecity.sass */
body.map article.lot section.details span.label {
  font-size: 0.8em;
  line-height: 1.875em;
  color: #666666;
  text-transform: uppercase;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding-right: 10px;
  width: 120px;
  text-align: right;
}
/* line 218, ../compass/sass/possiblecity.sass */
body.map article.lot section.details span.data {
  font-size: 1.2em;
  line-height: 1.25em;
  font-weight: bold;
}
/* line 222, ../compass/sass/possiblecity.sass */
body.map article.lot section.details a {
  margin-left: 120px;
  text-decoration: none;
}
/* line 225, ../compass/sass/possiblecity.sass */
body.map article.lot section.details p.note {
  margin-top: 1.5em;
  margin-left: 120px;
  font-size: 0.8em;
  line-height: 0.9375em;
  color: #666666;
}
