/* line 17, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Root -------------------------------------------------------------------- */
/* line 61, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 3, ../compass/sass/possiblecity.sass */
a {
  color: #d2b94d;
}
/* line 5, ../compass/sass/possiblecity.sass */
a:hover {
  color: #a8902a;
}

/* line 8, ../compass/sass/possiblecity.sass */
button {
  font-size: 16px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0B99C2', endColorstr='#FF064D61');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0b99c2), color-stop(100%, #087392));
  background: -webkit-linear-gradient(#0b99c2, #087392);
  background: -moz-linear-gradient(#0b99c2, #087392);
  background: -o-linear-gradient(#0b99c2, #087392);
  background: linear-gradient(#0b99c2, #087392);
  -webkit-box-shadow: #27c5f3 0 1px 0 inset;
  -moz-box-shadow: #27c5f3 0 1px 0 inset;
  box-shadow: #27c5f3 0 1px 0 inset;
  border: 1px solid #07607a;
  color: white;
  text-shadow: #043645 0 -1px 0;
}
/* line 15, ../../../../../../.virtualenvs/dev/gems/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../.virtualenvs/dev/gems/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button:hover {
  background-color: #07607a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a86aa), color-stop(100%, #07607a));
  background: -webkit-linear-gradient(#0a86aa, #07607a);
  background: -moz-linear-gradient(#0a86aa, #07607a);
  background: -o-linear-gradient(#0a86aa, #07607a);
  background: linear-gradient(#0a86aa, #07607a);
}
/* line 39, ../../../../../../.virtualenvs/dev/gems/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button:active {
  -webkit-box-shadow: #06546b 0 1px 2px inset;
  -moz-box-shadow: #06546b 0 1px 2px inset;
  box-shadow: #06546b 0 1px 2px inset;
}
/* line 6, ../../../../../../.virtualenvs/dev/gems/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button.disabled, button[disabled] {
  opacity: 0.6;
  background: #087392;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../.virtualenvs/dev/gems/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 11, ../compass/sass/possiblecity.sass */
body {
  overflow: hidden;
  *zoom: 1;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
}

/* line 16, ../compass/sass/possiblecity.sass */
h1 {
  font-size: 3em;
  line-height: 1em;
  color: #222222;
}

/* line 20, ../compass/sass/possiblecity.sass */
h2 {
  font-size: 2em;
  line-height: 1.5em;
  color: #222222;
}

/* line 24, ../compass/sass/possiblecity.sass */
h3 {
  font-size: 1.5em;
  line-height: 2em;
  color: #222222;
}

/* line 28, ../compass/sass/possiblecity.sass */
header.site-header {
  overflow: hidden;
  *zoom: 1;
  padding: 10px 0;
}
/* line 31, ../compass/sass/possiblecity.sass */
header.site-header > nav {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 38, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
header.site-header > nav:after {
  content: "";
  display: table;
  clear: both;
}
/* line 33, ../compass/sass/possiblecity.sass */
header.site-header > nav div.identity {
  display: inline;
  float: left;
}
/* line 35, ../compass/sass/possiblecity.sass */
header.site-header > nav div.identity h1 {
  display: none;
}
/* line 37, ../compass/sass/possiblecity.sass */
header.site-header > nav ul {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header.site-header > nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header.site-header > nav ul li:first-child, header.site-header > nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header.site-header > nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header.site-header > nav ul li.last {
  padding-right: 0;
}
/* line 40, ../compass/sass/possiblecity.sass */
header.site-header > nav ul a {
  display: inline;
  float: left;
  padding: 10px;
  height: 40px;
  line-height: 40px;
}

/* line 46, ../compass/sass/possiblecity.sass */
section.site-section {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 38, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
section.site-section:after {
  content: "";
  display: table;
  clear: both;
}

/* line 51, ../compass/sass/possiblecity.sass */
section.page-content {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 54, ../compass/sass/possiblecity.sass */
aside.section-nav {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

/* line 57, ../compass/sass/possiblecity.sass */
footer.site-footer {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 38, ../../../../../../.virtualenvs/dev/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
footer.site-footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 61, ../compass/sass/possiblecity.sass */
article.entry > aside {
  color: #999999;
  width: 20.45455%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 64, ../compass/sass/possiblecity.sass */
article.entry > aside time {
  text-transform: uppercase;
}
/* line 67, ../compass/sass/possiblecity.sass */
article.entry > section {
  width: 77.27273%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 69, ../compass/sass/possiblecity.sass */
article.entry > header {
  margin-left: 16.94915%;
  width: 77.27273%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

/* line 73, ../compass/sass/possiblecity.sass */
span.day {
  display: block;
  font-size: 4em;
  line-height: 1.125em;
}

/* line 77, ../compass/sass/possiblecity.sass */
span.month {
  display: block;
  font-size: 0.75em;
  line-height: 2em;
}
