/* line 30, ../compass/sass/typography.sass */
.base-font-family, body {
  font-family: Georgia, serif;
}

/* line 33, ../compass/sass/typography.sass */
.alternate-font-family, h1, h2, h3, h4, h5, h6, blockquote cite {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* line 36, ../compass/sass/typography.sass */
.header, h1, h2, h3, h4, h5, h6 {
  color: #666666;
}

/* line 39, ../compass/sass/typography.sass */
.strong-text {
  color: black;
}

/* line 42, ../compass/sass/typography.sass */
.weak-text, blockquote cite {
  color: #999999;
}

/* line 45, ../compass/sass/typography.sass */
.tiny-font {
  font-size: 9.94px;
  line-height: 10px;
}

/* line 49, ../compass/sass/typography.sass */
.extra-small-font {
  font-size: 11.004px;
  line-height: 15px;
}

/* line 53, ../compass/sass/typography.sass */
.small-font, h6 {
  font-size: 12.04px;
  line-height: 15px;
}

/* line 57, ../compass/sass/typography.sass */
.normal-font, h5, blockquote cite {
  font-size: 14px;
  line-height: 20px;
}

/* line 61, ../compass/sass/typography.sass */
.medium-font, h4 {
  font-size: 15.96px;
  line-height: 20px;
}

/* line 65, ../compass/sass/typography.sass */
.medium-large-font, h3, blockquote {
  font-size: 18.06px;
  line-height: 25px;
}

/* line 69, ../compass/sass/typography.sass */
.large-font, h2 {
  font-size: 28px;
  line-height: 30px;
}

/* line 73, ../compass/sass/typography.sass */
.extra-large-font, h1 {
  font-size: 35.98px;
  line-height: 40px;
}

/* line 77, ../compass/sass/typography.sass */
.huge-font {
  font-size: 47.88px;
  line-height: 50px;
}

/* line 81, ../compass/sass/typography.sass */
.enormous-font {
  font-size: 63.98px;
  line-height: 70px;
}

/* line 85, ../compass/sass/typography.sass */
.text-block, p, blockquote, pre,
code, ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 20px;
}

/* line 89, ../compass/sass/typography.sass */
.bold, h1, h2, h3, h4, h5, h6, a, strong, dfn, ul dt,
ol dt,
dl dt {
  font-weight: bold;
}

/* line 92, ../compass/sass/typography.sass */
.italic, blockquote, em, dfn, address {
  font-style: italic;
}

/* line 95, ../compass/sass/typography.sass */
.underline {
  text-decoration: underline;
}

/* line 98, ../compass/sass/typography.sass */
.uppercase, h6 {
  text-transform: uppercase;
}

/* line 101, ../compass/sass/typography.sass */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 104, ../compass/sass/typography.sass */
body {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-rendering: optimizeLegibility;
}

/* line 136, ../compass/sass/typography.sass */
a {
  color: #ff6600;
  text-decoration: none;
}
/* line 141, ../compass/sass/typography.sass */
a:focus, a:hover {
  color: #ff3300;
}

/* line 148, ../compass/sass/typography.sass */
blockquote {
  color: #666666;
  margin-top: 20px;
}
/* line 155, ../compass/sass/typography.sass */
blockquote cite {
  font-style: normal;
}
/* line 161, ../compass/sass/typography.sass */
blockquote cite:before {
  content: " Ñ ";
}

/* line 174, ../compass/sass/typography.sass */
sup,
sub {
  line-height: 0;
}

/* line 178, ../compass/sass/typography.sass */
abbr,
acronym {
  border-bottom: 1px dotted #999999;
}

/* line 185, ../compass/sass/typography.sass */
pre,
code {
  white-space: pre;
  margin-top: 20px;
}

/* line 196, ../compass/sass/typography.sass */
ul,
ol,
dl {
  margin-left: 20px;
}
/* line 206, ../compass/sass/typography.sass */
ul dd,
ol dd,
dl dd {
  margin-left: 20px;
}

/* line 211, ../compass/sass/typography.sass */
.dquo {
  margin-left: -0.5em;
}
