{% extends "base.html" %}
{% block head_title %}LotxLot{% endblock head_title %}
{% block body_class %}lotxlot map{% endblock %}
{% block extra_head %}
<!-- Leaflet -->
{% load staticfiles %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" /><![endif]-->
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
{% endblock extra_head %}
{% block body_base %}
{% endblock %}

