 {% extends "lotxlot/base.html" %}

{% load humanize %}
{% load staticfiles %}
{% load pagination_tags %}
{% load phileo_tags %}
{% load thumbnail %}

{% load possiblecity_tags %}
{% load lotxlot_tags %}

{% block head_title %}Lots{% endblock head_title %}

{% block body %}
{% autopaginate lot_list 30 %}
    <header class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Lots <small>{{ paginator.count|intcomma }}</small></h1>
                </div>
                <div class="col-md-6 pull-right">
                    <p class="pull-right">Showing <strong>{{ page_obj.start_index }} - {{ page_obj.end_index }}
                    </strong> of <strong>{{ paginator.count|intcomma }}</strong></p>
                    <div class="pull-right">
                    {% paginate %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="container">
        <div class="row">
            <div class="col-md-3">
                <nav class="panel">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="{% url "lotxlot_lot_list" %}">All Lots</a></li>
                        <li><a href="{% url "lotxlot_lot_list_vacant" %}">Vacant Lots</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-9 col-xs-12">
            	<div class="row">
            		{% for lot in lot_list %}
            		<div class="col-md-4">
                        <div class="panel">
                			<a href="{{ lot.get_absolute_url }}" title="{{ lot.address }}">
                            <img src="{% google_image_url lot 500 500 %}" alt="Google image for {{ lot.address }}"></a>
                            <h4>{{ lot.address }}</h4>
                        </div>
            		</div>
            		{% endfor %}
            	</div>
                <nav class="pull-right">
                    {% paginate %}
                </nav>
            </div>
        </div>
        </div>
    </section>
{% endblock body %}
