{% extends "philadelphia/base.html" %}
{% load possiblecity_tags %}
{% block layout %}
<div id="map">
</div>
{% endblock layout %}
{% block js_local %}
<script>
    var map = new L.Map('map', {
         zoomControl: false
    });
    var cloudmade = new L.TileLayer('http://{s}.tile.cloudmade.com/17de60efa2c548c2b8b8bb215db49cb4/47928/256/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy;',
    });
    var philadelphia = new L.LatLng(39.9522, -75.1642);
    map.addLayer(cloudmade);
    
    var dataStyle = {
        "fillColor": "#ff0000",
        "opacity": 1.0,
        "weight": 1,
        "color":"#000000",
    };

    var dataLayer = L.geoJson(null, {
        style: dataStyle
    }).addTo(map);
    
    $.getJSON('{% url lotxlot %}', function(data){
          dataLayer.addData(data);
          bounds = dataLayer.getBounds();
          map.fitBounds(bounds);
    });
</script>
{% endblock js_local %}
