{% extends "lotxlot/map.html" %}

{% load staticfiles %}
{% load humanize %}
{% load i18n %}
{% load floppyforms %}
{% load phileo_tags %}
{% load possiblecity_tags %}
{% load thumbnail %}

{% block head_title %}Lot {{ lot.address }} {% endblock head_title %}
{% block sidebar %}
<style>
.idea-list 
.tagline {
  border-color: #efefef;
  border-width: 2px;
  background: #efefef;
  padding:8px 12px;
  background-clip: padding-box;
  border-radius: 4px;
  border-style: solid;
  display: block;
  position: relative;
  margin-left:10px;
  
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 6;
}

.tagline:before {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  content: none;
  position: absolute;
  top: 8px;
  border-right: 10px solid black;
  border-right-color: inherit;
  left: -10px;
  content: "";
}

</style>
    <div class="sidebar ideas-lot-info-sidebar">
        <header class="lot-id-header text-center">
            <h1>Lot #{{ lot.id }}</h1>
            <h2><i class="icon-map-marker"></i> {{ lot.address }}</h2>
        </header>
        <ul id="sidebar-tabs" class="nav nav-tabs">
          <li class="active"><a href="#ideas" data-toggle="tab">Ideas</a></li>
          <li class=""><a href="#info" data-toggle="tab">Info</a></li>
        </ul>

        <div id="sidebar-tabs-content" class="tab-content">
          <div class="tab-pane fade active in" id="ideas">
            <div class="activity">
                <ul class="list-group">
                  <div class="nav-tab-button text-center"></div>
                  <li class="list-group-item">
                    <div class="media">
                     {% if request.user.is_authenticated %}
                      <a class="pull-left profile-img" href="{{ request.user.profile.get_absolute_url }}">
                      <img class="media-object"  
                           {% if request.user.profile.photo %}
                           src="{{ request.user.profile.photo.url }}"
                           {% else %}
                           src="{% static 'img/profile.png' %}"
                           {% endif %}
                           alt="{{ request.user }}" 
                           style="width: 64px; height: 64px;" />
                      </a>
                      {% else %}
                      <span class="pull-left profile-img">
                      <img class="media-object"
                           alt="{{ request.user }}"
                           src="{% static 'img/profile.png' %}" 
                           style="width: 48px; height: 48px;" />
                      </span>
                      {% endif %}
                      <div class="media-body">
                        <form method="post" id="idea-form" action=".">
                          {% csrf_token %}
                          {% form form using "floppyforms/layouts/simple.html" %}
                          <div class="form-actions">
                            {% if request.user.is_authenticated %}
                            <button type="submit" class="btn btn-primary pull-right">{% trans "Float your idea" %}
                            </button>
                            {% else %}
                             <a class="btn btn-primary pull-right" href="{% url 'account_signup' %}" data-toggle="modal" data-target="#sign-up-modal">{% trans "Float your idea" %}</a>
                             {% endif %}
                          </div>
                          </form> 
                      </div>
                    </div>
                  </li>
                  {% for idea in lot.idea_set.all %}
                  <li class="list-group-item idea-list">
                    <div class="media" style="margin-right:0">
                      <a class="pull-left profile-img" style="margin-right:0" href="{{ idea.user.profile.get_absolute_url }}">
                        <img class="media-object"  
                        alt="{{ idea.user }}" 
                        {% if idea.user.profile.photo %}
                        src="{% thumbnail idea.user.profile.photo '64x64' crop %}" 
                        {% else %}
                        src="{% static 'img/profile.png' %}"
                        width="32" height="32"
                        {% endif %} 
                         />
                      </a>
                      <div class="media-body" style="margin-left:0">
                        <div class="tagline">
                          <strong>{% if idea.user.first_name %}
                              {{ idea.user.profile.full_name }}
                            {% else %}
                              {{ idea.user.username }}
                            {% endif %}</strong>
                          <p>{{ idea.tagline }}</p>
                        </div>
                        <h6 style="margin-left:12px">Via {{ idea.get_via_display }}
                            {% if idea.get_via_display == "Twitter" %}
                            <i class="icon-twitter"></i>
                            {% elif idea.get_via_display == "Text" %}
                            <i class="icon-mobile-phone"></i>
                            {% elif idea.get_via_display == "Web" %}
                            <i class="icon-globe"></i>
                            {% elif idea.get_via_display == "Instagram" %}
                            <i class="icon-instagram"></i>
                            {% endif %}
                            &nbsp;•&nbsp; 
                            {{ idea.floated|ago }}
                            {% if request.user.is_authenticated %}
                                &nbsp;•&nbsp; {% phileo_widget request.user idea %}
                            {% else %}
                            <span class="phileo">
                                &nbsp;•&nbsp;
                                <a data-toggle="modal" data-target="#login-modal" href="#login-modal">
                                  Like
                                </a>
                                &nbsp;•&nbsp;
                                <i class="{% if idea|likes_count > 0 %}icon-heart{% else %}icon-heart-empty{% endif %}"></i>
                                <span class="count">
                                    {{ idea|likes_count }}
                                </span>
                            </span>
                            {% endif %}
                          </h6>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="info">
             <div class="lot-info-table"> 
               <table class="table">
                  <thead>
                    
                  </thead>
                  
                  <tbody>
                  <tr>
                    <tr>
                      <th>Ownership:</th>
                      <td>{% if lot.is_public %}Public{% else %}Private{% endif %}</td>
                    </tr>
                    <th>Neighborhood:</th>
                    <td>{{ lot.profile.neighborhood }}</td>
                  </tr>
                  <tr>
                    <th>Size:</th>
                    <td>{{ lot.get_sqft|floatformat:0 }} sq. ft. ({{ lot.get_acres|floatformat:2 }} acres)</td>
                  </tr>
                 </tbody>
                </table>
                </div><!--/lot-info -->
          </div><!-- /#sidebar-tabs-content -->
          </div>
    </div>
{% endblock sidebar %}

{% block map_setview %}
{% endblock map_setview %}

{% block extra_map_js %}
<script>
    var lot = L.geoJson(null, {
       style: blueStyle
    }).addTo(map);
        

    var lot_url = '{% url "api-lot-detail" lot.id %}' + '?format=json';

    $.getJSON(lot_url, function(data){
          map.fire('dataloading');
          lot.addData(data);
          var center = new L.LatLng({{ lot.coord.y }}, {{ lot.coord.x }});
          map.setView(center, 18);

          var ownership = {% if lot.is_public %}"Public"{% else %}"Private"{% endif %}
          var ownership_icon = {% if lot.is_public %}"icon-unlock-alt"{% else %}"icon-lock"{% endif %}

          var content = '<center><h3>{{ lot.address }}</h3>' +
                        '<p><i class="icon-large ' + ownership_icon + '">&nbsp;&nbsp;Ownership:  </i> <strong>'  + ownership + '</strong></p>' +
                        '<p><i class="icon-resize-full icon-large "> &nbsp;&nbsp;Size:</i> <strong>{{ lot.get_sqft|floatformat:0 }} sq. ft.</strong></p>' +
                        '<p><i class="icon-lightbulb icon-large"> &nbsp;&nbsp;Ideas:</i> <strong>{{ lot.idea_set.count }}</strong></p></center>';

          var labelIcon = L.divIcon({className: 'leaflet-label leaflet-label-selected', html: content,  iconSize:null});

          L.marker(center, {riseOnHover: true}).bindPopup(content).addTo(map).openPopup();

          map.fire('dataload');
    });

</script>
{% endblock extra_map_js %}
