{% extends "lotxlot/map_base.html" %}

{% load staticfiles %}
{% load humanize %}
{% load i18n %}

{% load floppyforms %}
{% load phileo_tags %}
{% load thumbnail %}

{% load possiblecity_tags %}

{% block head_title %}Lot {{ lot.address }} {% endblock head_title %}
{% block body %}
    {% block map %}
    <div id="map" class="fullscreen"></div>
    {% endblock map %}
{% endblock body %}

{% block extra_map_js %}
<script>
   
  map.locate();

  function onLocationFound(e) {
    if (phlBounds.contains(e.latlng)) {
       center = e.latlng
       html = '<h3>Welcome to Possible City!</h3>We think you are somewhere near here, so you can explore vacant lots starting with the ones near you. Publicly owned lots are light blue. Privately owned lots are dark blue. Search for a specific address or neighborhood using the search icon at the top left.';
    } else {
       center = philadelphia
       html = '<h3>Welcome to Possible City!</h3>Looks like you are outside of Philadelphia, so we will start you from City Hall. Publicly owned lots are light blue. Privately owned lots are dark blue. Search for a specific address or neighborhood using the search icon at the top left.';
    }
    map.setView(center, 17);
    L.marker(center).addTo(map).bindPopup(html).openPopup();
        
  }

  function onLocationError(e) {
    center = philadelphia;
    html = '<h3>Welcome to Possible City!</h3>We are not able to find your location, so we will start you from City Hall. Publicaly owned lots are yellow. Privately owned lots are blue. If you find an error in our data, <a href="mailto:info@possiblecity.com">let us know</a>';
    map.setView(center, 17);
    L.marker(center).addTo(map).bindPopup(html).openPopup();
  }

  map.on('locationfound', onLocationFound);
  map.on('locationerror', onLocationError); 

</script>
{% endblock extra_map_js %}
