{% extends "lotxlot/map_base.html" %}

{% load staticfiles %}
{% load humanize %}
{% load i18n %}

{% load floppyforms %}
{% load phileo_tags %}
{% load thumbnail %}

{% load possiblecity_tags %}

{% block head_title %}Lot {{ lot.address }} {% endblock head_title %}
{% block body %}
    {% block sidebar %}
    <div class="sidebar ideas-lot-info-sidebar">
        <header class="text-center">
            <h1>Featured Ideas</h1>
        </header>
        <div id="sidebar-tabs-content" class="tab-content">
          <div class="tab-pane fade active in" id="ideas">
            <div class="activity">
              <ul class="list-group">
                <div class="nav-tab-button text-center"></div>
                {% get_latest_featured ideas.Idea 3 as featured_ideas %}
                  {% for idea in featured_ideas %}
                  <li class="list-group-item">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                      {% if idea.get_lead_image %}
                        <a href="{{ idea.get_absolute_url }}">
                        <img src="{% thumbnail idea.get_lead_image.file '400x400' crop %}">
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                    {% if idea.title %}
                        <h5>{{ idea.title }}</h5>
                    {% endif %}
                        <h4>
                            {% for lot in idea.lots.all %}
                            <i class="icon-map-marker"></i>
                            <a href="{% url 'lotxlot_lot_detail' lot.id %}">
                            {{ lot.address }}</a>{% if not forloop.last %}, {% endif %} 
                            {% endfor %}
                        </h4>
            
                        <p>{{ idea.tagline }}</p>
                        <p>Floated by {% if idea.user.first_name %}
                           <a href="{{ idea.user.profile.get_absolute_url}}">
                            {{ idea.user.profile.full_name }}
                           </a>
                        {% else %}
                          <a href="{{ idea.user.profile.get_absolute_url}}">
                            {{ idea.user.username }}
                          </a>
                        {% endif %}
                        {% if idea.lots.all %}
                            <small>on</small>
                        <h6>Via {{ idea.get_via_display }}
                            {% if idea.get_via_display == "Twitter" %}
                            <i class="icon-twitter"></i>
                            {% elif idea.get_via_display == "Text" %}
                            <i class="icon-mobile-phone"></i>
                            {% elif idea.get_via_display == "Web" %}
                            <i class="icon-globe"></i>
                            {% elif idea.get_via_display == "Instagram" %}
                            <i class="icon-instagram"></i>
                            {% endif %}
                            &nbsp;•&nbsp; {{ idea.floated|ago }}
                            {% if request.user.is_authenticated %}
                            &nbsp;•&nbsp; {% phileo_widget request.user idea %}
                            {% else %}
                            <span class="phileo">
                                &nbsp;•&nbsp;
                                <a data-toggle="modal" data-target="#login-modal" href="#login-modal">
                                      Like
                                </a>
                                &nbsp;•&nbsp;
                                <i class="{% if idea|likes_count > 0 %}icon-heart{% else %}icon-heart-empty{% endif %}"></i>
                                <span class="count">{{ idea|likes_count }}</span>
                            </span>
                            {% endif %}
                         </h6>
                      </div>
                    </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
    {% endblock sidebar %}
{% endblock body %}

{% block map_js %}
<script>
   
    map.fire('dataloading');

    
   var neighborhoods = L.geoJson.ajax(
      '{% url "api-neighborhood-list" %}?format=json', {
        onEachFeature: onEachNeighborhood,
        style: blueStyle,
      }).addTo(map);

    var ideas = L.geoJson.ajax(
      '{% url "api-lot-idea-list" %}?format=json', {
        pointToLayer: function (feature, latlng) {
           var labelText = '<a href="' + Urls.lotxlot_lot_detail(feature.properties.id) +
                            '"><i class="icon-comment icon-3x"></i>' +
                            '<strong> ' + 
                             feature.properties.idea_set.length + '</strong></a>';
           var labelIcon = L.divIcon({className: 'idea-label', html: labelText,  iconSize:null});
           //var lot = {% if lot.id %}{{ lot.id }}{% else %}0{% endif %}
           //if (feature.properties.id != lot) {
             return L.marker(latlng, {riseOnHover: true, icon: labelIcon});
           //};
        },
      })

      var vacant_lots = new lvector.Custom({
            map: map,
            url: "{% url 'api-lot-list' %}",            
            scaleRange: [15, 20],
            showAll: false,
            singlePopup: true,
            symbology : {
                type: "unique",
                property: "is_public",
                values: [
                    {
                      value: true,
                      vectorOptions: {
                        fillColor: "#BAD8E4",
                        fillOpacity: 0.6,
                        color: "#539DBB",
                        opacity: 1.0,
                        weight: 1,
                      }
                    },
                    {
                      value: false,
                      vectorOptions: {
                        fillColor: "#539DBB",
                        fillOpacity: 0.6,
                        color: "#539DBB",
                        opacity: 1.0,
                        weight: 1,
                      }
                    }
                  ]
             },

             popupTemplate: function(properties) {
                if (properties.is_public == true) {
                    ownership = 'Public';
                    ownership_icon = 'icon-unlock-alt';
                } else {
                    ownership = 'Private';
                    ownership_icon = 'icon-lock';
                }
                if (properties.is_available == true) {
                    availability = 'For Sale';
                } else {
                    availabilty = 'Unknown';
                }

                var html = '<center><h3>' + properties.address + '</h3>' +
                        '<p><i class="icon-large ' + ownership_icon + '"></i>&nbsp;&nbsp;<strong>'  + ownership + '</strong>' +
                        '&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-resize-full icon-large "></i>&nbsp;&nbsp;<strong> sq. ft.</strong>' +
                        '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-lightbulb icon-large"></i>&nbsp;&nbsp;ideas' +
                        '<p><a href="' + Urls.lotxlot_lot_detail(properties.id) +
                           '" class="btn btn-default">View/Add Ideas</a></p><center>';
                return html;
            }
       });


   
 
    function onEachNeighborhood(feature, layer) {
       map.fire('dataload');
       var bounds = layer.getBounds();
       var center = bounds.getCenter();
       var labelText = '<strong>' + feature.properties.map_name +
                       '&nbsp;&nbsp;&nbsp;<i class="icon-map-marker icon-large"></i> ' + 
                       feature.properties.vacant_lot_count +
                       '&nbsp;&nbsp;<i class="icon-lightbulb icon-large"></i> ' + 
                       feature.properties.idea_count + '</strong>';
       var labelIcon = L.divIcon({className: 'leaflet-label', html: labelText,  iconSize:null});
       var marker = L.marker(center, {riseOnHover: true, icon: labelIcon});
       neighborhoods.addLayer(marker);
       layer.on({
          click: zoomToFeature
        });
       marker.on({
          click:zoomToMarker
       });
    }

    function zoomToFeature(e) {
          var layer = e.target;
          center=(layer.getBounds().getCenter());
          map.setView(center, 16, { animate: true });
    }

    function zoomToMarker(e) {
          var marker = e.target;
          center=(marker.getLatLng());
          map.setView(center, 16, { animate: true });
    }


    function onZoomend(){
       if (map.getZoom()>=16) {
           map.removeLayer(neighborhoods);
       };

       if(map.getZoom()<16){
           map.addLayer(neighborhoods);
       };
  
       if (map.getZoom()<15) {
           map.removeLayer(ideas);
       }

       if (map.getZoom()>=15) {
           map.addLayer(ideas);
       };

       if (map.getZoom()>=19) {
           map.removeLayer(streets);
           map.addLayer(satellite);
       }

       if (map.getZoom()<19) {
           map.addLayer(streets);
           map.removeLayer(satellite);
       }
    }   

    map.on('zoomend', onZoomend);

</script>
{% block extra_map_js %}{% endblock %}
{% endblock map_js %}
