{% extends 'lotxlot/base.html' %}

{% block extra_style %}
{% endblock extra_style %}

{% block extra_head %}
<!-- Leaflet -->
{% load staticfiles %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
{% endblock extra_head %}
{% block body_base %}

    {% block map %}
        <div id="map"></div>
    {% endblock map %}

    {% block body %}   
    {% endblock body %}


{% endblock body_base %}

{% block extra_body %}
<script src="{% url 'js_reverse' %}" type="text/javascript"></script>
<script src="{% static 'leaflet/plugins/leaflet.markercluster/leaflet.markercluster.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.label/leaflet.label.js' %}" /></script>
<script src="{% static 'leaflet/plugins/leaflet.loading/Control.Loading.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.lvector/lvector.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.lvector/Custom.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.ajax/leaflet.ajax.js' %}"></script>
<script src="{% static 'leaflet/plugins/tile/Bing.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.geosearch/js/l.control.geosearch.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.geosearch/js/l.control.geosearch.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.geosearch/js/l.geosearch.provider.google.js' %}"></script>

<link rel="stylesheet" href="{% static 'leaflet/plugins/leaflet.markercluster/MarkerCluster.css' %}" />
<link rel="stylesheet" href="{% static 'leaflet/plugins/leaflet.loading/Control.Loading.css' %}" />
<link rel="stylesheet" href="{% static 'leaflet/plugins/leaflet.label/leaflet.label.css' %}" />
<link rel="stylesheet" href="{% static 'leaflet/plugins/leaflet.geosearch/css/l.geosearch.css' %}" />
<script>
    var philadelphia = new L.LatLng(39.9522, -75.1642);
    var southWest = new L.LatLng(39.87, -75.28);
    var northEast = new L.LatLng(40.14, -74.96);
    var phlBounds = new L.LatLngBounds(southWest, northEast);

    // Initialize the map object
    var map = new L.Map('map', {
        zoomControl: true,
        doubleClickZoom: true,
        loadingControl:true,
        maxZoom: 20,
        minZoom: 11
    });

    // Prep the background tile layer
    var tileUrl = 'http://api.tiles.mapbox.com/v3/dmeehan.map-t3op9nm9/{z}/{x}/{y}.png';

    var tileAttribution = 'Data &copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors, Design &copy; MapBox';

    var streets = L.tileLayer(tileUrl, {
        attribution: tileAttribution,
        minZoom: 11,
        maxZoom: 20
    }).addTo(map);

    var satellite = new L.BingLayer("Al_0exkMcWshayQSv6G6d87DTt5sYZOGw9aXtC_1Ef7xqyNjXY32qVSVUv-nBqGB");

    new L.Control.GeoSearch({
            provider: new L.GeoSearch.Provider.Google({
                
            }),
            showMarker: false,
            searchLabel: 'enter an address or neighborhood',
        }).addTo(map);

    // Set the center on Philadelphia
    var offset = new L.LatLng(39.97, -75.11)
    var philadelphia = new L.LatLng(39.9522, -75.1642);
    
    {% block map_setview %}
    map.setView(offset, 12);
    {% endblock map_setview %}


    var emptyMarkerStyle = {
        opacity: 0,
        fillOpacity: 0
    };

    var blueStyle = {
        "fillColor":"#68C4EA",
        "fillOpacity": 0.2,
        "opacity": 1.0,
        "weight": 2,
        "color":"#68C4EA",
    };

    var neighborhoodStyle = {
        "fillColor":"#cd00cd",
        "fillOpacity": 0.0,
        "opacity": 1.0,
        "weight": 2,
        "color":"#cd00cd",
    };

    var highlightStyle = {
        "fillColor":"#cd00cd",
        "fillOpacity": 0.4,
        "opacity": 1.0,
        "weight": 2,
        "color":"#cd00cd",
    };

</script>
    {% block map_js %}
    {% endblock map_js %}
{% endblock extra_body %}
