{% extends 'lotxlot/base.html' %}

{% block extra_style %}

{% endblock extra_style %}

{% block extra_head %}
<!-- Leaflet -->
{% load staticfiles %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" /><![endif]-->
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<link rel="stylesheet" href="{% static 'leaflet/plugins/leaflet.markercluster/MarkerCluster.css' %}" />
<script src="{% static 'leaflet/plugins/leaflet.markercluster/leaflet.markercluster.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet/plugins/leaflet.loading/Control.Loading.css' %}" />
<link rel="stylesheet" href="{% static 'leaflet/plugins/leaflet.label/leaflet.label.css' %}" />
<script src="{% static 'leaflet/plugins/leaflet.loading/Control.Loading.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.lvector/lvector.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.lvector/Custom.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.ajax/leaflet.ajax.js' %}"></script>
<script src="{% url 'js_reverse' %}" type="text/javascript"></script>
{% endblock extra_head %}
{% block body_base %}
    <div id="map"></div>
    {% block body %}   
    {% endblock body %}
{% endblock body_base %}

{% block extra_body %}
<script>
    // Initialize the map object
    var map = new L.Map('map', {
        zoomControl: true,
        doubleClickZoom: true,
        loadingControl:true,
        maxZoom: 20,
        minZoom: 11
    });

    // Prep the background tile layer
    var tileUrl = 'http://api.tiles.mapbox.com/v3/dmeehan.map-3jbn92ke/{z}/{x}/{y}.png';
    var tileAttribution = 'Data &copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors, Design &copy; MapBox';
    var streets = L.tileLayer(tileUrl, {
        attribution: tileAttribution,
    });


    // Set the center on Philadelphia
    var offset = new L.LatLng(39.96, -75.11)
    var philadelphia = new L.LatLng(39.9522, -75.1642);
    map.setView(offset, 12);

    map.addLayer(streets);

    var emptyMarkerStyle = {
        opacity: 0,
        fillOpacity: 0
    };

    var blueStyle = {
        "fillColor":"#68C4EA",
        "fillOpacity": 0.2,
        "opacity": 1.0,
        "weight": 2,
        "color":"#68C4EA",
    };

    var yellowStyle = {
        "fillColor":"#e8db00",
        "fillOpacity": 0.2,
        "opacity": 1.0,
        "weight": 2,
        "color":"#e8db00",
    };

    var selectedLotStyle = {
        "fillColor":"#68C4EA",
        "fillOpacity": 0.4,
        "opacity": 1.0,
        "weight": 4,
        "color":"#68C4EA",
    };

</script>
    {% block map_js %}
    {% endblock map_js %}
{% endblock extra_body %}
