{% extends "projects/base.html" %}

{% block subnav %}
<section>
<h2><a href="{{ project.user.get_absolute_url }}">
{{ project.user.profile.full_name }}</a></h2>
<p>{{ project.user.username }}</p>
<p>{{ project.user }}</p>
{{ project.user.profile.about }}
</section>
{% endblock subnav %}

{% block head_title %}{{ project.title }}{% endblock %}

{% block page_content %}
    {% block page_header %}
    {% endblock page_header %}
    {% block project %}
    <article id="project">
        <header>
            <h1>{{ project.title }}</h1>
        </header>
        <section id="slideshow">
            <ul id="gallery">
                {% for image in project.projectvisual_set.all %}
                {% if image.public %}
                <li>
                    <img src="{{ image.large.url }}"
                         width="{{ image.large.width }}"
                         height="{{ image.large.height }}"
                         alt="{% if image.caption %}{{ image.caption }}{% else %}{{ image.title }}{% endif %}"
                         title="{{ image.title }}"/>
                    <p class="caption">{{ image.caption }}</p>
                    <a href="{{ image.max.url }}"
                       class="control zoom"
                       title="{{ image.caption }}">
                        <span>+</span>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        <section id="classification"> </section>
        <section id="description">
            <h2>{{ project.tagline }}</h2>
            {{ project.description_html|safe }}
        </section>
    </article>
    {% block comments %}
    {% endblock comments %}
    {% endblock project %}
{% endblock page_content %}
