<table class="table">
  <tbody>
    <tr>
      <th>Size:</th>
      <td>{{ lot.get_sqft|floatformat:0 }} sq. ft. ({{ lot.get_acres|floatformat:2 }} acres)</td>
    </tr>
    <tr>
      <th>Neighborhood:</th>
      <td>{{ lot.profile.neighborhood }}</td>
    </tr>
    <tr>
      <th>Zoning Designation:</th>
      <td>{{ lot.profile.zoning_base }}</td>
    </tr>
    {% if lot.profile.zoning_overlay %}
    <tr>
      <th>Zoning Overlay:</th>
      <td>
        <a title="American Legal Code Section" href="{{ lot.profile.zoning_overlay.CODE_SECTION_LINK }}">
          {{ lot.profile.zoning_overlay.OVERLAY_NAME }}
        </a>
      </td>
    </tr>
    {% endif %}
    <tr>
      <th>Council District:</th>
      <td>District {{ lot.profile.council_district.DIST_NUM }}</td>
    </tr>
    <tr>
      <th>Planning District:</th>
      <td>District {{ lot.profile.planning_district.DIST_NUM }}: {{ lot.profile.planning_district.DIST_NAME }}</td>
    </tr>
    <tr>
      <th>Census:</th>
      <td>{{ lot.profile.census.NAMELSAD10 }} {{ lot.profile.blockgroup.NAMELSAD10 }} </td>
    </tr>
    <tr>
      <th>Ward:</th>
      <td>Ward {{ lot.profile.ward.WARD_NUM }}</td>
    </tr>
  </tbody>
</table>