<table class="table">
  <tbody>
    <tr>
      <th>Listed For Sale By City:</th>
      <td>
        {% if lot.profile.is_for_sale %}
        <i class="icon-ok-sign positive"></i>&nbsp;&nbsp;
        {{ lot.profile.papl_listing.PRICE_STR }}
        {% else %}
        <i class="icon-minus-sign negative"></i>
        {% if lot.is_public %}
        &nbsp;&nbsp;Not For Sale
        {% else %}&nbsp;&nbsp;Not Applicable
        {% endif %}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Vacancy Violation:</th>
      <td>{% if lot.profile.has_violation %}
        <i class="icon-ok-sign positive"> </i>
        &nbsp;&nbsp;{{ lot.profile.latest_violation.DESCRIPTION }}
        {% else %}
        <i class="icon-minus-sign negative"></i> &nbsp;&nbsp;None
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Violation Non-Compliance:</th>
      <td>
        {% if lot.profile.is_non_compliant %}
        <i class="icon-ok-sign positive"></i> &nbsp;&nbsp;Not Complied
        {% else %}
        <i class="icon-minus-sign negative"></i>
        {% if lot.profile.has_violation %} &nbsp;&nbsp;Complied {% else %} &nbsp;&nbsp;Not Applicable {% endif %}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Vacancy License:</th>
      <td>
        {% if lot.profile.get_licenses %}
        <i class="icon-ok-sign positive"></i>
        &nbsp;&nbsp;{{ lot.profile.latest_license.DESCRIPTION }}
        {% else %}
        <i class="icon-minus-sign negative"></i> &nbsp;&nbsp;None
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Land Use:</th>
      <td>
        {% if lot.profile.is_land_use_vacant %}
        <i class="icon-ok-sign positive"></i>
        {% else %}
        <i class="icon-minus-sign negative"></i>
        {% endif %}&nbsp;&nbsp;{{ lot.profile.land_use }}</td>
      </tr>
      <tr>
        <th>Building Description:</th>
        <td>
          {% if lot.profile.is_bldg_desc_vacant %}
          <i class="icon-ok-sign positive"></i>
          {% else %}
          <i class="icon-minus-sign negative"></i>
          {% endif %}&nbsp;&nbsp;{{ lot.profile.building_description }}</td>
        </tr>
      </tbody>
    </table>