{% extends "base.html" %}
{% block head_title_section %}LotxLot{% endblock head_title_section %}
{% block body_class %}lotxlot map{% endblock %}
{% block extra_head %}
<!-- Leaflet -->
{% load staticfiles %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" /><![endif]-->
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
{% endblock extra_head %}

