{% extends "philadelphia/base.html" %}
{% load possiblecity_tags %}
{% block site_section %}
<div id="map" style="height:400px; width:100%">
</div>
<h1>Lot<strong>x</strong>Lot</h1>
{% endblock site_section %}
{% block js_local %}
<script>
    var map = new L.Map('map');
    var cloudmade = new L.TileLayer('http://{s}.tile.cloudmade.com/17de60efa2c548c2b8b8bb215db49cb4/47928/256/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy;'
    });
    var philadelphia = new L.LatLng(39.9522, -75.1642);
    map.addLayer(cloudmade);
    
    var dataStyle = {
        "fillColor": "#D2B94D",
        "opacity": 1.0,
        "weight": 1,
        "color":"#000000",
    };

    var dataLayer = L.geoJson(null, {
        style: dataStyle
    }).addTo(map);
    
    $.getJSON('{% url vacant_lots %}', function(data){
         dataLayer.addData(data);
         bounds = dataLayer.getBounds();
         map.fitBounds(bounds);
    });
</script>
{% endblock js_local %}
