{% extends "philadelphia/base.html" %}
{% load possiblecity_tags %}
{% load staticfiles %}
{% block layout %}
<div id="map" style="height:400px; width:100%">
</div>
<h1>{{ lot.address|capsentence }}</h1>
<p>{{ lot.geom }}</p>
<p>{{ lot.geom.geojson }}</p>
<p>{{ lot.coord }}</p>
<p>{{ lot.is_vacant }}</p>
<p>{{ lot.is_public }}</p>
{% endblock %}
{% block js_local %}
<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
<script src="{% static 'js/libs/leaflet-plugins/layer/tile/Google.js' %}"></script>
<script>
    // Initialize the map object
    var map = new L.Map('map');
    
    // Prep the background tile layer
    var tileUrl = 'http://api.tiles.mapbox.com/v3/dmeehan.map-sued82zn/{z}/{x}/{y}.png';
    var tileAttribution = '';
    
    var streets = L.tileLayer(tileUrl, {
        attribution: tileAttribution,
        maxZoom: 20
    });
    
    
    // Set the center on Philadelphia
    var philadelphia = new L.LatLng(39.9522, -75.1642);
    map.setView(philadelphia, 16);
    
    var satellite = new L.Google();
    
    map.addLayer(satellite);

    var geoj = {};
    
    var polyStyle = {
        "fillColor":"#e8db00",
        "fillOpacity": 0.2,
        "opacity": 1.0,
        "weight": 4,
        "color":"#e8db00",
        //"dashArray": "4 2"
    };
    
    var myStyle = {
        "fillColor": "#ff0000",
        "opacity": 1.0,
        "weight": 1,
        "color":"#000000",
        "dashArray": "2 2"
    };

    var myLayer = L.geoJson(null, {
        style: polyStyle
    }).addTo(map);
    
    $.getJSON('{% url lot_detail lot.id %}', function(data){
          myLayer.addData(data);
          map.fitBounds(myLayer.getBounds());
    });

</script>
{% endblock js_local %}
