{% extends "philadelphia/base.html" %}
{% load possiblecity_tags %}
{% load staticfiles %}
{% load humanize %}
{% block layout %}
<div class="page-content">
    <div id="map" style="height:600px; width: 100%">
    </div>
    <div id="map-status" class="status" style="display:none">
        Loading Map Features...
    </div>
    <article class="lot">
        <section class="details">
            <h1>{{ lot.address|capsentence }}</h1>
            <ul>
               <li><span class="label">Size:</span><span class="data">{{ lot.parcel.shape_area|floatformat:"0"|intcomma }} Square Feet</span></li>
               <li><span class="label">Status:</span><span class="data">{% if lot.is_vacant %}Vacant{% else %}Occupied{% endif %}
               {% if lot.has_vacancy_license %} | Vacancy License{% endif %}
               {% if lot.has_vacancy_violation %} | Vacancy Violation{% endif %}</span></li>
               <li><span class="label">Ownership:</span><span class="data">{% if lot.is_public %}Public{% else %}Private{% endif %}</span></li>
               <li><span class="label">Availability:</span><span class="data">{% if lot.is_available %}For sale{% else %}Not For Sale{% endif %}</span></li>
               {% if lot.papl_listing_id %}
               <li><span class="label">Price:</span><span class="data">{% if lot.papl__listing_data.PRICE %}${{ lot.papl_listing_data.PRICE|intcomma }}{% else %}No Longer Available{% endif %}</span></li>
               {% endif %}
            </ul>
            {% if lot.papl_listing_id %}
            <a class="button" href="http://secure.phila.gov/PAPLPublicWeb/AddAsset.aspx?AssetID={{ lot.papl__listing_data.ASSET_ID }}">Express Interest</a>
            <p class="note">The button above will take you to the City of Philadelphia's website, where you can express interest in purchasing the lot.</p>
            {% endif %}
            <p class="note">Data error? 
	            <a style="padding-left:0; margin-left:0; font-weight:bold; text-decoration:underline; href="mailto:info@thepossiblecity.com?subject={{ lot.address }}-{{ lot.id }}">
		            Let us know
		       </a>
	        </p>
        </section>
    </article>
</div>
{% endblock layout %}
{% block js_local %}
<script src="{{ STATIC_URL }}js/libs/lvector/lvector.js"></script>
<script src="{{ STATIC_URL }}js/libs/lvector/Custom.js"></script>
<script src="{{ STATIC_URL }}js/libs/leaflet-plugins/layer/tile/Bing.js"></script>
<script>
    // Initialize the map object
    var map = new L.Map('map', {
        zoomControl: true,
        doubleClickZoom: true,
        maxZoom: 21,
        minZoom: 16
    });
    
    // Prep the background tile layer
    var tileUrl = 'http://api.tiles.mapbox.com/v3/dmeehan.map-sued82zn/{z}/{x}/{y}.png';
    var tileAttribution = '';
    
    var satellite = new L.BingLayer("Al_0exkMcWshayQSv6G6d87DTt5sYZOGw9aXtC_1Ef7xqyNjXY32qVSVUv-nBqGB");

    var streets = L.tileLayer(tileUrl, {
        attribution: tileAttribution,
    });
    
    
    // Set the center on Philadelphia
    var philadelphia = new L.LatLng(39.9522, -75.1642);
    map.setView(philadelphia, 15);
    
    map.addLayer(satellite);

    var geoj = {};
    
    var lotStyle = {
        "fillColor":"#e8db00",
        "fillOpacity": 0.0,
        "opacity": 0.0,
        "weight": 4,
        "color":"#e8db00",
        "dashArray": "4 2"
    };
    

    var lot = L.geoJson(null, {
        style: lotStyle
    }).addTo(map);
    
    $.getJSON('{% url "api_lot_detail" lot.id %}', function(data){
          lot.addData(data);
          var center = new L.LatLng({{ lot.coord.y }}, {{ lot.coord.x }});
          map.setView(center, 18);
          L.marker(center).addTo(map);
          map.panBy([-150, -50]);
          lotLayer.setMap(map);
    });

    var lotLayer = new lvector.Custom({
            url: "{% url 'api_lots_vacant' %}",
            scaleRange: [16, 22],
            showAll: false,
            singlePopup: true,
             symbology: {
                type: "unique",
                property: "is_public",
                values: [
                    {
                        value: true,
                        vectorOptions: {
                             fillColor: "#e8db00",
                             fillOpacity: 0.2,
                             weight: 2,
                             color: "#e8db00",
                             opacity: 1
                        }
                    },
                    {
                        value: false,
                        vectorOptions: {
                             fillColor: "#86f1ff",
                             fillOpacity: 0.2,
                             weight: 2,
                             color: "#86f1ff",
                             opacity: 1
                        }
                    }
                 ]
            },
            popupTemplate: function(properties) {
                if (properties.is_public == true) {
                    ownership = 'Public';
                } else {
                    ownership = 'Private';
                }
                if (properties.is_available == true) {
                    availability = 'For Sale';
                } else {
                    availabilty = 'Unknown';
                }
                url = '{% url "lot_detail" 0 %}'.replace (0, properties.id);
                html = '<h3>' + properties.address +'</h3>' +
                           '<p>Ownership: <strong>' + ownership + '</strong><br />' +
                           'Availability: <strong>' + availabilty + '</strong></p>' +
                           '<p><a href="' + url +'" class="button">View</a>'
                return html;
            }
    });

    
    map.on('zoomend', onZoomend);

    function onZoomend(){
       if (map.getZoom()>=17) {
           map.removeLayer(streets);
           map.addLayer(satellite);
       };

       if(map.getZoom()<17){
           map.removeLayer(satellite);
           map.addLayer(streets);
       };

    };
</script>
{% endblock js_local %}
