<article class="entry" id="{{ entry.published|date:"c" }}_{{ entry.slug }}">
    <aside class="meta">
        <p class="date">
            <time datetime={{ entry.published|date:"c" }}>
                <span class="day">{{ entry.published|date:"d" }}</span>
                <span class="month">{{ entry.published|date:"F" }}</span>
                <span class="year">{{ entry.published|date:"Y" }}</span>
            </time>
        </p>
        <p class="author">
            {{ entry.author.first_name }} {{ entry.author.last_name }}
        </p>
        <ul class="tags">
            {% for tag in entry.tags.all %}
            <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
    </aside>
    <section class="entry-content">
        <header>
            <h2>{{ entry.title }}</h2>
        </header>
        <section>
        {{ entry.text|safe}}
        </section>
    </section>
</article>
