<article class="entry detail" id="{{ entry.published|date:"c" }}_{{ entry.slug }}">
    <aside class="meta">
        <p class="date">
            <time datetime={{ entry.published|date:"c" }}>
                <span class="month">{{ entry.published|date:"F" }}</span>
                <span class="day">{{ entry.published|date:"d" }}</span>
            </time>
        </p>
        <ul class="tags">
            {% for tag in entry.tags.all %}
            <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
    </aside>
    <section>
        <header>
            <h2>{{ entry.title }}</h2>
        </header>
        {{ entry.text|safe}}
    </section>
</article>
