{% extends "text/base.html" %}
{% block head_title %}{{ block.super }}: Recent Posts {% endblock head_title %}
{% block main %}
{% block entry_list %}
{% for entry in entry_list %}
    {% include "text/_entry.html" %}
{% endfor %}
{% endblock entry_list %}
{% block pagination %}
    {% if is_paginated %}
        <nav class="pagination">
            {% if has_next %}
                <a class="older" href="?page={{ next }}">Older</a>
            {% endif %}
            {% if has_next and has_previous %} | {% endif %}
            {% if has_previous %}
                <a class="newer" href="?page={{ previous }}">Newer</a>
            {% endif %}
        </nav>
    {% endif %}
{% endblock pagination %}
{% endblock main %}